.actions-container-page {
    padding: $padding-global;

    .advice {
        display: grid;
        align-items: center;
        font-family: $archivo;
        font-size: 1.5rem;
        color: $first;
        text-align: center;
        height: 500px;
    }

    .articles-container {
        max-width: 1100px;
        margin: auto;
        padding: 5rem 0;

        .actions-container {
            display: grid;
            margin: 2rem auto;

            .action {
                display: flex;
                //flex-wrap: wrap;
                max-width: 600px;

                .action-text {
                    padding: 1rem;

                    .category {
                        font-size: 1.3rem;
                    }

                    span {
                        color: gray;
                        font-size: 1rem;
                        text-transform: capitalize;
                    }

                    p {
                        font-size: 1rem;
                        color: $second;
                        font-family: $raleway;

                    }

                    h3 {
                        font-family: $archivo;
                        max-width: 300px;
                        font-size: 1.5rem;
                        color: $first;
                        margin: .5rem 0 .2rem 0;
                    }

                    .btn-more {
                        text-decoration: none;

                        div {
                            margin-top: .8rem;
                            width: max-content;
                            padding: 1rem;
                            font-family: $archivo;
                            background-color: $first;
                            color: white;
                            font-size: 1rem;
                            font-weight: bold;
                            cursor: pointer;
                            transition: all .5s ease;

                            img {
                                width: 25px;
                            }
                        }

                        div:hover {

                            color: $second;
                            background-color: white;

                        }
                    }
                }

                .action-img {
                    position: relative;
                    $circle: 100px;



                    .image-circle {
                        background-position: center !important;
                        background-size: cover !important;
                        position: relative;
                        height: 100%;
                        display: flex;
                        align-items: center;

                    }
                }
            }
        }

        .exp2-container {
            justify-content: end;
        }
    }

    .show-more {
        text-decoration: none;

        div {
            margin: auto;
            width: max-content;
            padding: 1.3rem;
            font-family: $archivo;
            background-color: $first;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all .5s ease;

            img {
                width: 25px;
            }
        }

        div:hover {

            color: $second;
            background-color: white;

        }
    }

    @media screen and (max-width:768px) {

        .articles-container {
            padding: 0;

            .actions-container {
                .action {
                    grid-template-columns: 1fr;
                    flex-wrap: wrap;
                    .action-img {
                        display: grid;
                        justify-self: center;
                        max-width: 300px;
                    }

                    .action-text {
                        padding-left: 0;
                    }
                }
            }
        }

    }
}