.acciones-detalles-container {
    padding: $padding-global;
    margin: auto;

    .title-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 600px;
        margin-top: 2rem;
        align-items: flex-end;
        position: relative;
        .text-container {
            align-items: flex-end;
            font-size: 1.5rem;
            font-family: $archivo;
            color: $first;
            position: relative;
            height: 100%;
            display: flex;
            padding-left: 10rem;

            p {
                color: $second;
                font-family: $raleway;
                font-weight: bold;
                font-size: 1.8rem;
            }


            h1 {
                max-width: 650px;
                margin: 0;
                font-size: 2.8rem;
                color: $first;
                margin-bottom: 1rem;
            }

            span {
                font-size: 1.8rem;
                color: $second;
            }


        }

        .image-container {
            position: relative;
            display: flex;
            justify-content: flex-end;
            .circles-back {
                position: absolute;
                right: 0;
                top: 0;
                transform: translate(10%, -20%);
                width: 550px;
                z-index: -1;
            }

            .image-circle {
                display: block;
                z-index: 1;
                box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.75);
            }
        }
        .bar{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: $first;
            color: white;
            margin-top: 5rem;
            position: absolute;
            font-size: 1.2rem;

            bottom: 0;
            left: 0;
            width: 100%;
            transform: translate(8%, 140%);

            .bar-content{
                display: flex;
                .img{
                    display: flex;
                    align-items: center;
                    width: 100px;
                    padding: 1rem;
                }
                .ubicacion{
                    width: 60px;
                }
                .text{
                    display: flex;
                    align-items: center;

                    h3 {
                        font-family: $archivo;
                        margin: 0;
                    }

                    p {
                        font-family: $raleway;
                        margin: 5px 0;
                    }
                }
            }
        }
    }
    .detalle-content {
        margin: 5rem auto;
        margin-top: 15rem; //marca el comienzo del texto
        max-width: 1200px;
        font-size: 1.5rem;
        text-align: justify;
        font-family: $raleway;
        line-height: 2.5rem;
        color: $gris;

        .relationed-projects {
            font-weight: bold;
            color: $second;
            font-size: 1.8rem;
            text-align: left;
        }

        span {
            color: $gris !important;
        }



        img {
            width: 80%;
            margin: auto;
            display: block;
        }


        h2,
        h1 {
            color: $second;
        }

        .owner {
            font-weight: bold;
            color: $second;

            span {
                font-weight: lighter;
            }


        }

    }


    @media screen and (max-width:768px) {
        .title-container {
            grid-template-columns: 1fr;
            min-height: auto;

            .text-container {
                order: 1;
                align-items: start;
                justify-items: start;
                padding: 0;
                p{
                    font-size: 1.4rem;
                    margin-bottom: .5rem;
                }
                h1 {
                    font-size: 1.6rem;
                    margin-bottom: .5rem;
                }
                span{
                    font-size: 1.3rem;
                }

            }

            .image-container {

                .image-circle {
                    width: 100%;
                    height: auto;
                }

                .circles-back {
                    display: none;
                }
            }

            .bar{
                position: initial;
                bottom: initial;
                left: initial;
                transform: none;
                margin-top: 1rem;
                grid-template-columns: 1fr;
                .bar-content{
                    .img{
                        width: 70px;

                        .ubicacion{
                            width: 35px;
                        }
                    }
                    .text{
                        h3{
                            font-size: 1.3rem;
                        }
                        p{
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .detalle-content {
            transform: none;
            font-size: 1.2rem;
            line-height: 2rem;
            margin-top: 0;

            img {
                width: 100%;
                height: auto;
            }

        }
    }
}