.divulgacion-container {
    padding: $padding-global;

    .cards-container {
        margin: 6rem auto;
        display: grid;
        grid-template-columns: repeat(4, 350px);
        justify-content: center;
        grid-gap: 4rem;
        position: relative;

        .card {
            max-width: 400px;
            border-radius: 30px;
            box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.4);

            .card-head {
                position: relative;

                img {
                    width: 100%;
                    max-height: 200px;
                    border-radius: 30px;
                }

                .play {
                    position: absolute;
                    bottom: 0;
                    left: 75%;
                    transform: translateY(50%);
                    background-color: $first;
                    border-radius: 50%;
                    padding: .5rem;
                    width: max-content;
                    margin: 1rem 0;
                    cursor: pointer;

                    img {
                        width: 30px;
                    }
                }
            }

            .card-body {
                position: relative;
                padding: 2rem 4rem 2rem 2rem;
                height: 210px;
                .card-date {
                    font-size: 1.3rem;
                    color: $second;
                    font-family: $raleway;
                }

                .card-title {
                    margin-top: .5rem;
                    font-family: $archivo;
                    font-size: 1.3rem;
                    color: $first;
                }

                
            }

            .card-buttons{
                padding: 0 2rem;
                padding-bottom: 2rem;
                .btn-more {
                    text-decoration: none;

                    div {
                        width: max-content;
                        padding: 1rem;
                        font-family: $archivo;
                        background-color: $first;
                        color: white;
                        font-size: .8rem;
                        font-weight: bold;
                        cursor: pointer;
                        transition: all .5s ease;

                        img {
                            width: 20px;
                        }
                    }

                    div:hover {

                        color: $second;
                        background-color: white;

                    }
                }
            }
        }
    }

    .advice {
        position: sticky;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        align-items: center;
        font-family: $archivo;
        font-size: 1.5rem;
        color: $first;
        text-align: center;
        height: 500px;
    }

    .show-more {
        text-decoration: none;

        div {
            margin: auto;
            width: max-content;
            padding: 1.3rem;
            font-family: $archivo;
            background-color: $first;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all .5s ease;

            img {
                width: 25px;
            }
        }

        div:hover {

            color: $second;
            background-color: white;

        }
    }

    @media screen and (max-width:1500px) {
        .cards-container {
            grid-template-columns: repeat(3, 350px);

        }
    }

    @media screen and (max-width:1024px) {

        .cards-container {
            grid-template-columns: repeat(2, 1fr);

        }


    }

    @media screen and (max-width:500px) {
        .cards-container {
            grid-template-columns: 1fr;
        }
        .advice{
            transform: none;
        }
    }
}