.ejes-container {
    a {
        text-decoration: none !important;
    }

    .show-more {
        text-decoration: none;

        div {
            margin: auto;
            width: max-content;
            padding: 1.3rem;
            font-family: $archivo;
            background-color: $first;
            color: white;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all .5s ease;

            img {
                width: 25px;
            }
        }

        div:hover {

            color: $second;
            background-color: white;

        }
    }

    .conciliacion {
        .content-container {
            .conciliacion-img {
                position: relative;

                .fucsia-circle {
                    position: relative;
                    top: 0;
                    right: -50%;
                    content: "";
                    background-color: $first;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;

                }

                .left {
                    left: -120%;
                }

                .img-inside {
                    padding: 2rem 0;
                    transform: translateX(-60%);
                }

                .img-left {
                    padding: 2rem 0;
                    transform: translateX(70%);
                }
            }


            @media screen and (max-width:450px) {
                .fucsia-circle {
                    right: -70% !important;
                    width: 450px !important;
                    height: 450px !important;
                }

                .img-inside {
                    width: auto;
                    transform: translateX(-50%) !important;
                }
            }
        }
    }
}