.experiencias-container {
    padding: $padding-global;
    

    .first-paragraph {
        margin: 4rem 0;
        font-size: 1.5rem;
        font-family: $raleway;
        line-height: 2.5rem;
        color: $gris;
        text-align: center;

        p {
            margin: auto;
            max-width: 800px;
        }
    }

    .experiences-year {
        position: relative;

        .year {
            $circle: 400px;
            .bar{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 1000%;
                z-index: -1;
                transform: translateX(-20%);
                height: 100px;
                border-top: 50px solid $second;
            }
            .purple-circle {
                content: "";
                width: $circle;
                height: $circle;
                border-radius: 50%;
                position: absolute;
                background-color: $second;
                top: 0;
                right: 0;
                transform: translateX(70%);

                span {
                    font-size: 3.5rem;
                    font-family: $archivo;
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translate(-10%,100%);
                    color: white;
                }
            }

            .fucsia-circle {
                content: "";
                width: 300px;
                height: 300px;
                border-radius: 50%;
                position: absolute;
                background-color: $first;
                top: 0;
                right: 0;
                z-index: -1;
                transform: translate(40%, -20%);
            }
        }

        .year-container {
            max-width: 1000px;
            margin: auto;
            padding: 5rem 0;

            .experience-container {
                display: grid;
                margin: 6rem auto;
                .experience {
                    display: grid;
                    grid-template-columns:  50px 400px;

                    .experience-text {

                        p {
                            font-size: 1rem;
                            color: $second;
                            font-family: $raleway;
                        }

                        h3 {
                            font-family: $archivo;
                            font-size: 1.5rem;
                            color: $first;
                        }
                        .btn-more {
                            text-decoration: none;
            
                            div {
            
                                width: max-content;
                                padding: 1.3rem;
                                font-family: $archivo;
                                background-color: $first;
                                color: white;
                                font-size: 1rem;
                                font-weight: bold;
                                cursor: pointer;
                                transition: all .5s ease;
            
                                img {
                                    width: 25px;
                                }
                            }
            
                            div:hover {
            
                                color: $second;
                                background-color: white;
            
                            }
                        }
                    }

                    .experience-img {
                        display: grid;
                        justify-items: end;
                        padding-right: 2rem;
                        .line{
                            position: relative;
                            height: 150px;
                            content: "";
                            border-left: 2px solid $first;
                            .point{
                                position: absolute;
                                top: 0;
                                right: 50%;
                                transform: translateX(50%);
                                height: 20px;
                                width: 20px;
                                content: "";
                                background-color: $second;
                                border-radius: 50%;
                            }
                        }
                        
                    }
                }
            }
            .exp2-container{
                justify-content: end;
            }
        }
    }

    @media screen and (max-width:768px) {
        .first-paragraph{
            margin: 0;
            font-size: 1.3rem;
            line-height: 2.3rem;
        }
        .experiences-year{
            .year{
                $circle:200px;
                .purple-circle{
                    width: $circle;
                    height: $circle;
                    span{
                        transform: translate(-20%,100%);
                        font-size: 2rem;
                    }
                }
                .fucsia-circle{
                    width: $circle;
                    height: $circle;
                }
            }
            .year-container{
                .experience-container{
                    .experience{
                        grid-template-columns: 20px 1fr;
                    }
                }
            }
        }
    }
}