$first : #BC0D69;
$second:#580E33;
$negro:#181817;
$gris: #706f6e;
$archivo: 'Archivo',
sans-serif;
$raleway: 'Raleway',
sans-serif;

.contacts {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 500px 1fr;

    .contact-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;

        .contact-item {
            .title {
                font-family: $raleway;
                font-weight: bold;
                color: $negro; //cambiar
                font-size: 1.3rem;
                text-align: left;
                margin: 0;
            }

            .text {
                font-family: $raleway;
                color: $gris;
                margin: 1rem 0;
                font-size: 1.3rem;

            }

            .phones {
                display: grid;
                grid-template-columns: 30px 1fr;
                align-items: center;
                grid-gap: 8px;
                font-family: $raleway;
                color: $gris;
                margin: 1rem 0;
                font-size: 1.3rem;

                img {
                    width: 15px;
                }

                .tel {
                    width: 25px;
                }
            }
        }
    }

    .img-contacts {

        display: grid;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;

        .contact-container {
            grid-template-columns: 1fr;

            .contact-item {

                .title,
                .text,
                .phones {
                    font-size: 1.2rem;
                }

                .phones {
                    img {
                        width: 10px;
                    }

                    .tel {
                        width: 20px;
                    }
                }
            }
        }
    }
}