$first : #BC0D69;
$second:#580E33;
$negro:#181817;
$gris: #706f6e;
$archivo: 'Archivo',
sans-serif;
$raleway: 'Raleway',
sans-serif;
$padding-global:127px 2rem 2rem 2rem;

@import 'menu';
@import 'footer';
@import 'nosotros';
@import 'historia';
@import 'experiencias';
@import 'acciones';
@import 'indicadores';
@import 'ejes-detalle';
@import 'proyectos-detalle';
@import 'acciones-detalles';
@import 'ejes';
@import 'divulgacion';
@import 'proyectos';


body,
html {
    position: relative;
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.home {
    min-height: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    padding: $padding-global;

    .home-text {
        display: flex;
        align-items: center;
        justify-self: center;
        max-width: 500px;
        font-family: $raleway;

        .text {
            font-size: 2.5rem;
            color: $second;
            font-weight: bold;
			text-transform: uppercase;
			
            .text-2 {
                color: $first;
                font-size: 4rem;
                font-weight: bold;
            }
        }
    }

    .home-img {
        position: relative;

        .circle {
            position: absolute;
            top: 0;
            left: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #580E33;
            height: 700px;
            width: 700px;
            border-radius: 50%;
            transform: translateX(10%);


        }

        .circle-text {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(100%, 15%);

            p {
                .number {
                    font-family: $archivo;
                    color: white;
                    font-size: 9rem;
                    position: relative;

                    &:before {
                        position: absolute;
                        left: -10%;
                        bottom: 10%;
                        display: block;
                        content: ' ';
                        width: 65%;
                        height: 10px;
                        border-bottom: 4px solid white;
                    }
                }

                font-family: $raleway;
                font-weight: bold;
                color: $first;
                font-size: 3rem;

                .calidad {
                    font-weight: lighter;
                    font-size: 1.5rem;
                    color: white;
                }
            }

            .btn-more {
                text-decoration: none;

                div {
                    line-height: 1.5rem;
                    width: max-content;
                    padding: 1.2rem;
                    margin-top: 3rem;
                    font-family: $archivo;
                    background-color: $first;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all .5s ease;
                    transform: translateX(10%);
                    z-index: 1;

                    img {
                        width: 25px;
                    }
                }

                div:hover {

                    color: $second;
                    background-color: #EBEBEB;

                }
            }
        }


        img.image {
            position: absolute;
            top: 0;
            left: 0;
            height: 700px;
        }

    }
}

.conciliacion {
    padding-top: 150px;
    background-color: #EBEBEB;

    .content-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .conciliacion-text {
            display: flex;
            align-items: center;
            padding: 0 9rem;

            .memoria {
                font-family: $archivo;
                color: $first;
                font-weight: bold;
                font-size: 2.8rem;
                display: block;
                margin: 2rem 0;
            }

            .title {
                font-family: $raleway;
                color: #181817;
                font-size: 1.8rem;
                font-weight: bold;
                margin: 0;
            }

            .text {
                font-size: 1.5rem;
                font-weight: lighter;
                font-family: $raleway;
                color: $gris;
                line-height: 2.5rem;
                margin-bottom: 4rem;
            }

            .btn-more {
                text-decoration: none;

                div {
                    margin-top: 2rem;
                    width: max-content;
                    padding: 1.3rem;
                    font-family: $archivo;
                    background-color: $first;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all .5s ease;

                    img {
                        width: 25px;
                    }
                }

                div:hover {

                    color: $second;
                    background-color: #EBEBEB;

                }
            }
        }

        .conciliacion-img {
            img {
                margin: 3rem 0;
                height: 450px;
            }

            display: grid;
            justify-content: end;
        }
    }

    .btn-container {
        display: grid;
        justify-items: center;

        .btn-actions {
            margin-bottom: 2rem;
            font-family: $archivo;
            padding: 1.5rem;
            background-color: $second;
            font-size: 1.3rem;
            font-weight: bold;
            text-decoration: none;
            width: 240px;
            color: white;
            cursor: pointer;
            transition: all .5s ease;

            img {
                width: 25px;
            }
        }

        .btn-actions:hover {
            color: $first;
            background-color: #EBEBEB;
        }
    }

}

.fundador {

    display: grid;
    grid-template-columns: 1fr 1fr;
    //padding: 2rem;
    position: relative;

    .only-small-text {
        display: none;
    }

    .img-container {
        position: relative;

        .img-text {
            top: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 2rem;
            color: white;
            font-family: "Raleway", sans-serif;
            font-weight: bold;
            transform: translate(5%, 20%);

            &:before {

                position: absolute;
                left: -20%;
                top: 4%;
                display: block;
                content: ' ';
                width: 87%;
                height: 10px;
                border-bottom: 4px solid white;
            }
        }

        img {
            height: 850px;
        }

        .title {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, 75%);
            font-family: $raleway;
            color: $negro;
            font-size: 4.5rem;
            font-weight: bold;
            max-width: 500px;
            margin-bottom: 10rem;
        }
    }

    .text-container {
        display: flex;
        align-items: center;

        .btn-more {
            font-family: $archivo;
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translate(-100%, -100%);
            display: block;
            font-size: 1.7rem;
            font-weight: bold;
            background-color: $second;
            padding: 1.5rem;
            line-height: 1.5rem;
            color: white;
            cursor: pointer;
            transition: all .5s ease;
            text-decoration: none;

            span {
                color: $first;
                font-size: 3rem;
            }

        }

        .btn-more:hover {
            color: $second;
            background-color: white;
        }
    }
}

.noticias-container {
    position: relative;

    .noticias {
        min-height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        padding: 2rem;
        background-color: #EBEBEB;

        .notice-container {
            position: relative;

            padding: 2rem;
            height: 250px;
            background: url('../images/noticia.jpg');
            cursor: pointer;
            transition: all .5s ease;

            .notice-title,
            .notice-date {
                margin: 0 0 3rem 0;
                padding-right: 3rem;
                color: white;
                font-family: $raleway;
                font-weight: bold;
                font-size: 2rem;
            }

            .notice-date {
                font-size: 1.5rem;
                position: absolute;
                bottom: 10%;
                margin: 0;
            }
        }

        .notice-container:hover {
            box-shadow: 25px 25px 0px -5px $second;
        }


    }

    .show-more-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        font-size: 2rem;
        font-weight: bold;
        font-family: $archivo;
        background-color: $first;
        padding: 2rem;
        color: white;
        cursor: pointer;
        transition: all .5s ease;
    }

    .show-more-btn:hover {
        color: $first;
        background-color: #EBEBEB;
    }
}


.mas-acciones {
    padding: 2rem;
    background-color: #EBEBEB;
    position: relative;

    h1 {
        font-family: $archivo;
        font-size: 2rem;
        color: $first;
        transform: translateX(15%);
    }

    .acciones-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        align-items: center;
        max-width: 1300px;


        .accion-container {
            margin-top: 2rem;
            display: flex;
            align-items: center;
            max-width: 300px;
            min-height: 200px;
            position: relative;
            padding: 2rem;
            background-position: center !important;
            background-size: cover !important;
            background: url('../images/noticia.jpg');
            cursor: pointer;
            transition: all .5s ease;

            .courtain{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.5);

            }

            .acciones-title,
            .acciones-date {
                color: white;
                text-align: center;
                font-family: $raleway;
                font-weight: bold;
                font-size: 1.5rem;
                z-index: 1;
            }

            .acciones-date {
                font-size: 2rem;
                position: relative;
                margin: 0;

                &::before {
                    content: "";
                    width: 50%;
                    height: 10px;
                    border-bottom: 3px solid $first;
                    position: absolute;
                    bottom: -10%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .accion-container:hover {
            box-shadow: 25px -25px 0px 0px $first;
        }


    }

    .show-more-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: $archivo;
        background-color: $first;
        padding: 1.5rem;
        color: white;
        cursor: pointer;
        transition: all .5s ease;
    }

    .show-more-btn:hover {
        color: $first;
        background-color: #EBEBEB;
    }
}

.aliados {
    padding: 2rem;

    .title {
        font-family: $archivo;
        color: $first;
        font-size: 2.5rem;
        text-align: center;
    }

    .aliados-container {
        max-width: 1300px;
        margin: 4rem auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;


        .aliado-img{

            display: flex;
            align-items: center;

            
        }

        .img-ue{
            max-width:80%;
        }

    }

}

//modal divulgacion
.ui.dimmer {
    z-index: 10000;
}

.ui.modal {
    border-radius: 30px;
    max-width: 700px;


    .card-modal-head {
        img {
            border-radius: 30px;
            width: 100%;
            max-height: 300px;
        }
    }

    .card-modal-body {
        padding: 4rem;

        .play {
            background-color: $first;
            border-radius: 50%;
            padding: .5rem;
            width: max-content;
            margin: 1rem 0;
            cursor: pointer;

            img {
                width: 30px;
            }
        }

        .card-modal-date {
            font-size: 1.5rem;
            color: $second;
            font-family: $raleway;
        }

        .card-modal-title {
            font-family: $archivo;
            font-size: 2rem;
            color: $first;
        }

        .card-modal-description {
            font-size: 1.5rem;
            color: $gris;
            font-family: $raleway;
        }

        .out-btn {
            margin: 1rem 0;
            display: grid;
            justify-items: end;

            img {
                width: 40px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .home {
        grid-template-columns: 1fr;
        padding-top: 70px;

        .home-text {
            padding: 0;

            .text {
                font-size: 2rem;

                .text-2 {
                    font-size: 2.5rem;
                }
            }
        }

        .home-img {
            margin-top: 2rem;
            display: grid;
            justify-content: center;
            height: 420px;

            .circle {
                height: 400px;
                width: 400px;
                transform: translateX(0%);



            }

            .circle-text {
                transform: translate(78%, 10%);

                p {
                    font-size: 1.5rem;
                    max-width: 200px;


                    .number {
                        font-size: 4rem;

                        &::before {
                            left: -26%;
                            bottom: 5%;
                            width: 80%;
                            border-bottom: 2px solid white;
                        }
                    }

                    .calidad {
                        font-size: 1.3rem;
                    }
                }

                .btn-more {
                    div {

                        margin-top: 0 !important;
                        padding: 1rem !important;
                        line-height: 1rem !important;
                    }

                }
            }



            img.image {
                height: 400px;
                transform: translateX(-10%);
            }
        }
    }

    .conciliacion {
        padding-top: 0;
        .content-container {
            grid-template-columns: 1fr;
            padding: 2rem;

            .conciliacion-text {
                padding: 0;

                .memoria {
                    font-size: 1.3rem;
                }

                .title {
                    font-size: 2rem;
                }

                .text {
                    display: none;
                }

                .btn-more {
                    padding: 1rem;
                    margin-top: 1rem;
                }
            }

            .conciliacion-img {
                img {
                    display: none;
                    transform: translateX(0%);
                    height: auto;
                    width: 100%;
                }
            }
        }
    }

    .fundador {
        grid-template-columns: 1fr;

        .only-small-text {
            display: block;

            h2 {
                text-align: center;
                font-size: 1.5rem;
                color: $first;
                font-family: "Raleway", sans-serif;
                font-weight: bold;
            }

            p {
                text-align: center;
                font-family: $raleway;
                color: $negro;
                margin: 0;
                font-size: 2rem;
                font-weight: bold;
            }
        }

        .img-container {

            .img-text,
            .title {
                display: none;
            }

            img {
                width: 100%;
                height: auto;
                transform: translateX(-25%);
            }
        }

        .text-container {
            .btn-more {
                top: 0;
                bottom: auto;
                transform: translateY(350%);
                font-size: 1rem;
                padding: 1rem;
                line-height: 1rem;

                span {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .noticias-container {
        .noticias {
            grid-template-columns: 1fr;
            padding: 2rem 2rem 8rem 2rem;

            .notice-container {
                padding: 1rem;
                max-width: 400px;
                justify-self: center;

                .notice-title {
                    font-size: 1.5rem;
                    padding: 0;
                }
            }


        }

        .show-more-btn {
            font-size: 1rem;
            padding: 1rem;
            transform: translateY(-40%);
        }

    }

    .mas-acciones {
        h1 {
            font-size: 1.5rem;
            transform: none;
        }

        .acciones-container {
            grid-template-columns: 1fr;
            padding: 2rem 0 8rem 0;

            .accion-container {
                padding: 1rem;
                max-width: 400px;
                justify-self: center;

                .acciones-title {
                    font-size: 1.5rem;
                    padding: 0;
                }
            }
        }
    }

    .aliados {
        padding: 2rem 0;

        .title {
            margin: 0;
            font-size: 1.5rem;

        }

        .aliados-container {
            margin: 0;
            grid-template-columns: repeat(2, 50%);
            grid-gap: 0;
        }
    }
}

@media screen and (max-width:500px) {

    //modal divulgacion
    .ui.modal {

        .card-modal-head {
            img {
                border-radius: 30px;
                width: 100%;
                max-height: 300px;
            }
        }

        .card-modal-body {
            padding: 2rem;

            .card-modal-date {
                font-size: 1.3rem;
            }

            .card-modal-title {
                font-size: 1.3rem;
            }

            .card-modal-description {
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width:320px) {
    .home {
        .home-img {
            .circle-text {
                transform: translate(62%, 10%);

                p {
                    font-size: 1.5rem;
                    max-width: 200px;


                    .number {
                        font-size: 4rem;

                        &::before {
                            left: -26%;
                            bottom: 5%;
                            width: 80%;
                            border-bottom: 2px solid white;
                        }
                    }

                    .calidad {
                        font-size: 1.3rem;
                    }
                }

                .btn-more {
                    div {

                        margin-top: 0 !important;
                        padding: 1rem !important;
                        line-height: 1rem !important;
                    }

                }
            }



            img.image {
                height: 400px;
                transform: translateX(-30%);
            }
        }
    }

}
