.historia-container {
    padding: $padding-global;    
    max-width: 1400px;
    margin: auto;

    .title-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 700px;

        .image-container {
            padding: 5rem 0;

            .draw-image {
                position: relative;
                $circle: 450px;

                .purple-circle {
                    content: "";
                    width: $circle;
                    height: $circle;
                    border-radius: 50%;
                    position: absolute;
                    background-color: $second;
                    top: 0;
                    left: 0;
                    transform: translateX(-40%);
                }

                .fucsia-circle {
                    content: "";
                    width: $circle;
                    height: $circle;
                    border-radius: 50%;
                    position: absolute;
                    background-color: $first;
                    top: 0;
                    left: 0;
                    transform: translate(-20%, 50%);
                }

                .image-circle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(20%, 20%);
                    background: url('../images/historia.jpg');
                    background-size: cover;
                    background-position: center;
                    width: $circle;
                    height: $circle;
                    border-radius: 50%;

                }
            }

        }

        .text-container {
            display: grid;
            align-items: center;
            justify-items: center;
            font-size: 2.3rem;
            font-family: $archivo;
            color: $first;

            h1 {
                position: relative;

                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(50%);
                    content: "";
                    height: 10px;
                    width: 80%;
                    border-bottom: 4px solid $second;
                }
            }
        }
    }

    .historia-content {
        margin: auto;
        max-width: 900px;
        font-size: 1.5rem;
        transform: translate(20%);
        font-family: $raleway;
        line-height: 2.5rem;
        color: $gris;

        .img-p {
            text-align: center;
            img{
                margin: 0;
                width: 500px;
                height: 500px;
            }
		}
		
		h2{
			color: $first;
		}

    }

	.footer-agencias-empleo{
		display: flex;
		max-width: 1300px;
		margin: 10rem auto 0;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		
		.text{
			p{
				font-family: 'Arial', Helvetica, sans-serif;
				font-size: 1.3rem;
				color: $gris;
                line-height: 2.0rem;
                font-weight: 200;
				max-width: 650px;
			}
		}

		.images{
			display: flex;
			flex-wrap: wrap;

			img{
				margin: 0 1rem;
			}

			.min-trabajo-img{
				width: 200px;
			}
		}
	}

    @media screen and (max-width:768px) {
        .title-container {
            grid-template-columns: 1fr;
            grid-template-rows: 10%;
            grid-template-areas: "a""b";
            min-height: 500px;
            .text-container {
                grid-area: a;
                align-items: start;
                justify-items: end;
                h1{
                    font-size: 2.5rem;

                }
            }

            .image-container {
                grid-area: b;

                .draw-image {
                    $circle: 250px;

                    .purple-circle,
                    .fucsia-circle,
                    .image-circle {
                        width: $circle;
                        height: $circle;
                    }
                }
            }
        }

        .historia-content {
            transform: none;
            font-size: 1.3rem;
            line-height: 2.3rem;
            .img-p {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
