.indicadores-container {
    padding: $padding-global;

    .first-paragraph {
        margin: 4rem 0;
        font-size: 1.5rem;
        font-family: $raleway;
        line-height: 2.5rem;
        color: $gris;
        text-align: center;

        p {
            margin: auto;
            max-width: 800px;
        }
    }

    .snake-container {
        position: relative;
        max-width: 830px;
        min-height: 952px;
        margin: auto;

        /*  circle = fondo blanco, letras fucsias
            circle-purple-words = fondo blanco, letra morada
            circle-purple = fondo morado ,letras blancas
            circle-fucsia = fondo fucsia ,letras blancas
        */

        .circle {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
            color: $first;
            width: 250px;
            height: 250px;
            font-family: $raleway;
            margin: auto;

            h2 {
                position: relative;
                font-size: 2.5rem;
                font-family: $archivo;
                transform: translate(20%, 100%);
                margin: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10px;
                    width: 40%;
                    border-bottom: 3px solid $first;
                }
            }

            p {
                transform: translate(20%, 60%);

                span {
                    font-weight: bold;

                }
            }
        }

        .circle-purple-words {
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
            color: $second;
            width: 250px;
            height: 250px;
            font-family: $raleway;
            margin: auto;

            h2 {
                position: relative;
                font-size: 2.5rem;
                font-family: $archivo;
                transform: translate(20%, 100%);
                margin: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10px;
                    width: 40%;
                    border-bottom: 3px solid $second;
                }
            }

            p {
                transform: translate(20%, 60%);

                span {
                    font-weight: bold;

                }
            }
        }

        .circle-purple {
            border-radius: 50%;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
            color: white;
            width: 250px;
            height: 250px;
            font-family: $raleway;
            background-color: $second;
            margin: auto;

            h2 {
                position: relative;
                font-size: 2.5rem;
                font-family: $archivo;
                transform: translate(20%, 100%);
                margin: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10px;
                    width: 40%;
                    border-bottom: 3px solid white;
                }
            }

            p {
                transform: translate(20%, 60%);

                span {
                    font-weight: bold;

                }
            }
        }

        .circle-fucsia {
            border-radius: 50%;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
            color: white;
            width: 250px;
            height: 250px;
            font-family: $raleway;
            background-color: $first;
            margin: auto;

            h2 {
                position: relative;
                font-size: 2.5rem;
                font-family: $archivo;
                transform: translate(20%, 100%);
                margin: 0;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 10px;
                    width: 40%;
                    border-bottom: 3px solid white;
                }
            }

            p {
                transform: translate(20%, 60%);

                span {
                    font-weight: bold;

                }
            }
        }

        .conector,.conector-2 {
            position: absolute;
            content: "";
            width: 80px;
            height: 80px;
            background-color: $first;
            border-radius: 50%;
        }

        .container-circle-1 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            .conector {
                top: 0;
                right: 0;
                transform: translate(70%, 100%);
            }
        }

        .container-circle-2 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(280px, -30px);
            z-index: -1;

            .conector {
                top: 0;
                right: 0;
                transform: translate(40%, 180%);
            }
        }

        .container-circle-3 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(540px, 30px);
            z-index: -2;

            .conector {
                top: 0;
                right: 0;
                transform: translate(-50%, 270%);
                background-color: $second;
            }
        }

        .container-circle-4 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-10%, 280px);
            z-index: 1;

            .conector {
                top: 0;
                left: 0;
                transform: translate(60%, -70%);
            }
        }

        .container-circle-5 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(250px, 250px);
            z-index: 2;

            .conector {
                top: 0;
                left: 0;
                transform: translate(-60%, 70px);
            }

            .conector-2 {
                top: 0;
                right: 0;
                z-index: 10;
                transform: translate(10%, 200px);
            }
        }


        .container-circle-6 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(650px, 290px);
            z-index: -3;

            .conector {
                top: 0;
                left: 0;
                transform: translate(-15%, 190px);
            }
        }

        .container-circle-7 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(180px, 625px);

            .conector {
                top: 0;
                left: 0;
                z-index: 10;
                transform: translate(200px, -22px);
            }
        }

        .container-circle-8 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(440px, 475px);
            z-index: -4;
        }

    }

    @media screen and (max-width:768px) {
        .first-paragraph {
            font-size: 1.3rem;
            line-height: 2.3rem;
        }

        .snake-container {
            min-height: 2112px;
            .container-circle-1,
            .container-circle-2,
            .container-circle-3,
            .container-circle-4,
            .container-circle-5,
            .container-circle-6,
            .container-circle-7,
            .container-circle-8 {
                position: relative;
                transform: none;
                margin: 1rem auto;

                .conector,.conector-2 {
                    top: initial;
                    right: initial;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 50%);
                }
            }
            .container-circle-1{
                z-index: 7
            }
            .container-circle-2{
                z-index: 6
            }.container-circle-3{
                z-index: 5
            }.container-circle-4{
                z-index: 4
            }.container-circle-5{
                z-index: 3
            }.container-circle-6{
                z-index: 2
            }.container-circle-7{
                z-index: 1
            }
        }
    }


}