$menu : #BD0D69;
$menuSecond:#580E32;
$archivo: 'Archivo',
sans-serif;
$raleway: 'Raleway',
sans-serif;

.menu {
    display: grid;
    background-color: $menu;
    position: fixed;
    z-index: 5000;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);

    .menu-items-container {
        display: grid;
        grid-template-columns: 100px 1fr;

        .menu-items {
            display: grid;
            justify-content: end;

            .menu-links {
                width: max-content;

                .only-small {
                    display: none !important;
                }

                .link-container,
                .link-container-sm {
                    margin: 0;
                    padding: 0;
                    display: inline-block;
                    position: relative;
                    width: max-content;
                    transition: all .7s ease;

                    li {
                        position: relative;
                        font-family: $archivo;
                        z-index: 5;
                    }

                    a {
                        color: white;
                        text-decoration: none;

                        .link-active,
                        .link-active-sm {
                            list-style: none;
                            padding: 1.5rem 2rem;
                            cursor: pointer;
                            font-size: 1rem;


                        }
                    }

                    .sub-menu,
                    .sub-menu-sm {
                        display: none;
                        position: absolute;

                        .sub-menu-content-sm {
                            display: none;

                        }

                        li {
                            font-family: $archivo;
                            list-style: none;
                            padding: 1.5rem 2rem;
                            cursor: pointer;
                            color: white;
                            background-color: $menuSecond;
                            font-size: 1rem;
                        }
                    }


                }

                .active {
                    background-color: $second;
                }

                .link-container:hover {
                    background-color: $menuSecond;

                    li:hover {
                        a {
                            &::before {
                                position: absolute;
                                left: 12%;
                                bottom: 30%;
                                display: block;
                                content: ' ';
                                width: 75%;
                                height: 3px;
                                border-bottom: 1px solid white;
                            }
                        }
                    }

                    .sub-menu,
                    .sub-menu-sm {
                        display: block;
                        width: 100%;

                        a {
                            li {
                                transition: all .8s ease;
                            }

                            li:hover {
                                background-color: $first;
                                color: white;
                            }
                        }

                        ul {
                            padding: 0;
                        }
                    }
                }

                .only-small:hover {
                    background-color: $first;
                    color: white;
                }
            }

            .menu-links-btn {
                display: none;
            }
        }

        .menu-icon {
            position: relative;

            img {
                position: absolute;
                width: 150px;
                top: 0;
                left: 50%;
                z-index: 5;
            }
        }



    }

    .menu-title {
        display: grid;
        align-items: center;
        background-color: $menuSecond;
        height: 4rem;

        .title {
            font-family: $archivo;
            text-align: center;
            color: white;
            font-size: 1rem;
        }
    }

    .actions-menu {
        display: none;
        //display: grid;
        justify-content: end;

        .actions-links {
            .link-container {
                margin: 0;
                padding: 0;
                display: inline-block;
                position: relative;
                width: max-content;
                transition: all .7s ease;
                list-style: none;



                a {
                    color: white;
                    text-decoration: none;

                    .link-active,
                    .link-active-sm {
                        list-style: none;
                        padding: 1rem 3rem;
                        cursor: pointer;
                        font-size: 1rem;
                        position: relative;
                        font-family: $archivo;
                        z-index: 1;


                    }

                }

                .buscador {
                    background-color: white;
                    color: white;
                    text-decoration: none;
                    list-style: none;
                    padding: .5rem 3rem;
                    cursor: pointer;
                    font-size: 1rem;
                    position: relative;
                    font-family: $archivo;
                    z-index: 5;
                    display: grid;
                    grid-template-columns: 1fr 25px;
                    grid-gap: 1rem;

                    .input-search {
                        padding: .5rem;
                        border: none;
                        font-size: 1rem;
                        font-family: $raleway;
                        border-bottom: 2px solid $gris;
                    }

                    .input-search:focus {
                        outline: none;
                    }

                    .lupa-container {
                        display: grid;
                        align-items: center;

                    }
                }
            }

            .link-container:hover {
                background-color: $menuSecond;
            }

        }
    }

    .active_menu {
        display: grid;
    }

    @media screen and (max-width:1024px) {
        .menu-items-container {
            .menu-icon {
                img {
                    width: 90px;
                    left: 15%;
                    z-index: 6;
                }
            }

            .menu-items {
                .menu-links {
                    .link-container {
                        display: none;

                        .sub-menu-sm {
                            height: 550px;
                            overflow-y: scroll;
                            width: 100%;
                            left: 0%;
                            text-align: center;

                            .sub-menu-content-sm {
                                li {
                                    background-color: white;
                                    color: $first;
                                    text-align: center;

                                }
                            }

                            .contacto-sm {
                                li {
                                    display: grid;
                                    justify-content: center;
                                    grid-template-columns: 20px max-content;
                                    grid-gap: 1rem;
                                    font-family: $raleway;

                                    .text {
                                        display: grid;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }

                    .only-small {
                        position: static;
                        display: inline-block !important;

                        a {
                            .link-active-sm {
                                img {
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }


        }

        .actions-menu {
            display: none;
        }
    }
}





.floating-contact {
    display: none;
    padding: 2rem;
    top: 65px;
    z-index: 4;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 1);
    justify-content: center;
    align-items: flex-start;

    .first-paragraph {
        max-width: 800px;
        margin: 4rem auto;
        font-size: 1.5rem;
        font-family: $raleway;
        line-height: 2.5rem;
        color: $gris;
    }

    .contact-container {

        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        grid-gap: 3rem;
        margin: 5rem auto;

        .item-container {
		   display: flex;
		   flex-wrap: wrap;

            .img {
                display: grid;
                align-items: center;
				margin-right: 1rem;
                img {
                    width: 70px;
                }

                .phone {
                    width: 40px;
                }
            }

            .text {
                display: flex;
                align-items: center;

                h2 {
                    font-size: 2rem;
                    font-family: $archivo;
                    color: $first;
                    margin:0 0 .5rem;
                }

                p,a {
                    font-family: $raleway;
                    font-size: 1.5rem;
                    color: $first;
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        width: auto;

        .first-paragraph {
            font-size: 1.3rem;
            line-height: 2.3rem;
        }

        .contact-container {
            grid-template-columns: 1fr;

            .item-container {
                grid-template-columns: 1fr;
				.img{
					img,.phone{
						width: 25px !important;
					}
				}
                .text {
                    h2 {
                        font-size: 1.5rem;
                    }

                    p,a {
                        font-size: 1rem;

                    }
                }
            }
        }

    }

}
