.nosotros-container {
    padding-top: 127px;

    .hernando {

        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;

        .only-small-text {
            display: none;
        }

        .img-container {
            position: relative;

            img {
                height: 850px;
                //width: 100%;
            }
        }

        .text-container {
            display: flex;
            align-items: center;

            //justify-content: center;
            .title {
                position: relative;
                font-family: $raleway;
                color: $first;
                font-size: 2.5rem;
                font-weight: bold;
                width: max-content;
                transform: translateX(-20%);

                &::before {
                    content: "";
                    height: 10px;
                    width: 50%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: translateX(-5%);
                    border-bottom: 2px solid $second;

                }
            }

            h3 {
                color: #580E33;
                margin: 4rem 0 1rem 0;
                font-weight: bold;
                font-size: 1.8rem;
            }

            .text {
                font-family: $raleway;
                color: $gris;
                font-size: 1.5rem;
                line-height: 2.5rem;
                max-width: 500px;
            }

            .btn-more {
                font-family: $archivo;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(-100%, -100%);
                display: block;
                font-size: 1.7rem;
                font-weight: bold;
                background-color: $second;
                padding: 1.5rem;
                line-height: 1.5rem;
                color: white;
                cursor: pointer;
                transition: all .5s ease;

                span {
                    color: $first;
                    font-size: 3rem;
                }

            }

            .btn-more:hover {
                color: $second;
                background-color: white;
            }
        }
    }

    .strategic-development {
        margin: 0 auto;
        max-width: 1300px;
        padding: 0 2rem;
        padding-bottom: 5rem;

        h2 {
            color: $first;
            text-align: center;
            font-size: 2.5rem;
        }

        p {
            text-align: justify;
            font-family: $raleway;
            color: $gris;
            font-size: 1.5rem;
            line-height: 2.5rem;
        }

        h3 {
            color: $second;
            margin: 4rem 0 1rem 0;
            font-weight: bold;
            font-size: 1.8rem;
        }
    }

    .testimonios {
        position: relative;
        height: 800px;

        .title {
            background-color: $first;
            padding: 1rem;

            h2 {
                transform: translateX(20%);
                margin: 0;
                color: white;
                font-size: 2.5rem;
                font-family: $archivo;
                font-weight: bold;
            }
        }

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 90%;

            .text-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .text-content {
                    max-width: 500px;
                    transform: translateX(35%);

                    h2 {
                        font-size: 2.5rem;
                        font-family: $archivo;
                        color: $first;
                    }

                    h4 {
                        color: $second;
                        font-size: 1.5rem;
                        font-family: $raleway;
                        font-weight: bold;

                        span {
                            font-weight: lighter;
                        }
                    }

                    p {
                        line-height: 2.5rem;
                        font-family: $raleway;
                        color: $gris;
                        font-size: 1.5rem;
                    }

                    .circle-buttons {
                        margin-top: 3rem;

                        .show-button {
                            content: " ";
                            display: inline-block;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            border: 3px solid $first;
                            margin-right: 15px;
                            border-radius: 50% !important;
                            transition: all .5s ease;
                        }

                        .show-button:hover {
                            background-color: $first;
                        }
                    }
                }
            }

            .image-container {
                img {
                    width: 500px;
                    height: 500px;
                    box-shadow: -7px 3px 24px 1px rgba(0, 0, 0, 0.75);
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    .galeria {
        .title {
            background-color: $first;
            padding: 1rem;

            h2 {
                text-align: center;
                margin: 0;
                color: white;
                font-size: 2.5rem;
                font-family: $archivo;
                font-weight: bold;
            }
        }

        .images-container {
            margin: auto;
            padding: 4rem;
            max-width: 1300px;

            .first {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .img1 {
                    max-width: 640px;
                }
            }

            .second {
                display: grid;
                grid-template-columns: max-content 1fr;

                .third {

                    max-height: 537px; //ojo
                }
            }

            img {
                margin: .9rem;
            }
        }
    }

    @media screen and (max-width:769px) {
        .hernando {
            grid-template-columns: 1fr;
            padding: 2rem;

            .only-small-text {
                display: block;

                p {
                    text-align: center;
                    font-family: $archivo;
                    color: $first;
                    margin: 0;
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            .img-container {

                .img-text,
                .title {
                    display: none;
                }

                img {
                    width: 100%;
                    height: auto;
                    transform: translateX(-25%);

                }
            }

            .text-container {
                .title {
                    display: none;
                }
				h3{
					font-size: 1.5rem;
				}
                .text {
                    font-size: 1.3rem;
					line-height: 2.3rem;
					text-align: justify;
                }
            }
        }

        .strategic-development {
            h2 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1.5rem;
                margin: 2rem 0 0 0;
            }

            p {
                font-size: 1.3rem;
                line-height: 2.3rem;
            }
        }

        .testimonios {
            height: auto;

            .title {
                h2 {
                    font-size: 2rem;
                    transform: none;
                    text-align: center;
                }
            }

            .content {
                grid-template-columns: 1fr;
                grid-template-areas: "a""b";
                padding: 2rem;

                .text-container {
                    grid-area: b;

                    .text-content {
                        transform: none;

                        h2 {
                            font-size: 2rem;
                        }

                        h4 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1.3rem;
                            line-height: 2.3rem;
                        }
                    }
                }

                .image-container {
                    grid-area: a;

                    img {
                        position: static;
                        padding: 0;
                        height: auto;
                        transform: translateX(20%);
                        width: 100%;
                    }
                }
            }
        }

        .galeria {
            .title {
                h2 {
                    font-size: 2rem;
                }
            }

            .images-container {
                padding: 2rem;

                .first {
                    grid-template-columns: 1fr;

                    img {
                        width: 100%;
                        margin: 1rem 0;
                    }
                }

                .second {
                    grid-template-columns: 1fr;

                    img {
                        width: 100%;
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}
