.menu {
  display: grid;
  background-color: #BD0D69;
  position: fixed;
  z-index: 5000;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75); }
.menu .menu-items-container {
  display: grid;
  grid-template-columns: 100px 1fr; }
.menu .menu-items-container .menu-items {
  display: grid;
  justify-content: end; }
.menu .menu-items-container .menu-items .menu-links {
  width: max-content; }
.menu .menu-items-container .menu-items .menu-links .only-small {
  display: none !important; }
.menu .menu-items-container .menu-items .menu-links .link-container, .menu .menu-items-container .menu-items .menu-links .link-container-sm {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: max-content;
  transition: all .7s ease; }
.menu .menu-items-container .menu-items .menu-links .link-container li, .menu .menu-items-container .menu-items .menu-links .link-container-sm li {
  position: relative;
  font-family: "Archivo", sans-serif;
  z-index: 5; }
.menu .menu-items-container .menu-items .menu-links .link-container a, .menu .menu-items-container .menu-items .menu-links .link-container-sm a {
  color: white;
  text-decoration: none; }
.menu .menu-items-container .menu-items .menu-links .link-container a .link-active, .menu .menu-items-container .menu-items .menu-links .link-container a .link-active-sm, .menu .menu-items-container .menu-items .menu-links .link-container-sm a .link-active, .menu .menu-items-container .menu-items .menu-links .link-container-sm a .link-active-sm {
  list-style: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
  font-size: 1rem; }
.menu .menu-items-container .menu-items .menu-links .link-container .sub-menu, .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu-sm {
  display: none;
  position: absolute; }
.menu .menu-items-container .menu-items .menu-links .link-container .sub-menu .sub-menu-content-sm, .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm .sub-menu-content-sm, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu .sub-menu-content-sm, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu-sm .sub-menu-content-sm {
  display: none; }
.menu .menu-items-container .menu-items .menu-links .link-container .sub-menu li, .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm li, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu li, .menu .menu-items-container .menu-items .menu-links .link-container-sm .sub-menu-sm li {
  font-family: "Archivo", sans-serif;
  list-style: none;
  padding: 1.5rem 2rem;
  cursor: pointer;
  color: white;
  background-color: #580E32;
  font-size: 1rem; }
.menu .menu-items-container .menu-items .menu-links .active {
  background-color: #580E33; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover {
  background-color: #580E32; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover li:hover a::before {
  position: absolute;
  left: 12%;
  bottom: 30%;
  display: block;
  content: ' ';
  width: 75%;
  height: 3px;
  border-bottom: 1px solid white; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu, .menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu-sm {
  display: block;
  width: 100%; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu a li, .menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu-sm a li {
  transition: all .8s ease; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu a li:hover, .menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu-sm a li:hover {
  background-color: #BC0D69;
  color: white; }
.menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu ul, .menu .menu-items-container .menu-items .menu-links .link-container:hover .sub-menu-sm ul {
  padding: 0; }
.menu .menu-items-container .menu-items .menu-links .only-small:hover {
  background-color: #BC0D69;
  color: white; }
.menu .menu-items-container .menu-items .menu-links-btn {
  display: none; }
.menu .menu-items-container .menu-icon {
  position: relative; }
.menu .menu-items-container .menu-icon img {
  position: absolute;
  width: 150px;
  top: 0;
  left: 50%;
  z-index: 5; }
.menu .menu-title {
  display: grid;
  align-items: center;
  background-color: #580E32;
  height: 4rem; }
.menu .menu-title .title {
  font-family: "Archivo", sans-serif;
  text-align: center;
  color: white;
  font-size: 1rem; }
.menu .actions-menu {
  display: none;
  justify-content: end; }
.menu .actions-menu .actions-links .link-container {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: max-content;
  transition: all .7s ease;
  list-style: none; }
.menu .actions-menu .actions-links .link-container a {
  color: white;
  text-decoration: none; }
.menu .actions-menu .actions-links .link-container a .link-active, .menu .actions-menu .actions-links .link-container a .link-active-sm {
  list-style: none;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  font-family: "Archivo", sans-serif;
  z-index: 1; }
.menu .actions-menu .actions-links .link-container .buscador {
  background-color: white;
  color: white;
  text-decoration: none;
  list-style: none;
  padding: .5rem 3rem;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  font-family: "Archivo", sans-serif;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 25px;
  grid-gap: 1rem; }
.menu .actions-menu .actions-links .link-container .buscador .input-search {
  padding: .5rem;
  border: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  border-bottom: 2px solid #706f6e; }
.menu .actions-menu .actions-links .link-container .buscador .input-search:focus {
  outline: none; }
.menu .actions-menu .actions-links .link-container .buscador .lupa-container {
  display: grid;
  align-items: center; }
.menu .actions-menu .actions-links .link-container:hover {
  background-color: #580E32; }
.menu .active_menu {
  display: grid; }
@media screen and (max-width: 1024px) {
  .menu .menu-items-container .menu-icon img {
    width: 90px;
    left: 15%;
    z-index: 6; }
  .menu .menu-items-container .menu-items .menu-links .link-container {
    display: none; }
  .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm {
    height: 550px;
    overflow-y: scroll;
    width: 100%;
    left: 0%;
    text-align: center; }
  .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm .sub-menu-content-sm li {
    background-color: white;
    color: #BC0D69;
    text-align: center; }
  .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm .contacto-sm li {
    display: grid;
    justify-content: center;
    grid-template-columns: 20px max-content;
    grid-gap: 1rem;
    font-family: "Raleway", sans-serif; }
  .menu .menu-items-container .menu-items .menu-links .link-container .sub-menu-sm .contacto-sm li .text {
    display: grid;
    align-items: center; }
  .menu .menu-items-container .menu-items .menu-links .only-small {
    position: static;
    display: inline-block !important; }
  .menu .menu-items-container .menu-items .menu-links .only-small a .link-active-sm img {
    width: 25px; }
  .menu .actions-menu {
    display: none; } }

.floating-contact {
  display: none;
  padding: 2rem;
  top: 65px;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fafafa;
  justify-content: center;
  align-items: flex-start; }
.floating-contact .first-paragraph {
  max-width: 800px;
  margin: 4rem auto;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e; }
.floating-contact .contact-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 3rem;
  margin: 5rem auto; }
.floating-contact .contact-container .item-container {
  display: flex;
  flex-wrap: wrap; }
.floating-contact .contact-container .item-container .img {
  display: grid;
  align-items: center;
  margin-right: 1rem; }
.floating-contact .contact-container .item-container .img img {
  width: 70px; }
.floating-contact .contact-container .item-container .img .phone {
  width: 40px; }
.floating-contact .contact-container .item-container .text {
  display: flex;
  align-items: center; }
.floating-contact .contact-container .item-container .text h2 {
  font-size: 2rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  margin: 0 0 .5rem; }
.floating-contact .contact-container .item-container .text p, .floating-contact .contact-container .item-container .text a {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69;
  margin: 0; }
@media screen and (max-width: 768px) {
  .floating-contact {
    width: auto; }
  .floating-contact .first-paragraph {
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .floating-contact .contact-container {
    grid-template-columns: 1fr; }
  .floating-contact .contact-container .item-container {
    grid-template-columns: 1fr; }
  .floating-contact .contact-container .item-container .img img, .floating-contact .contact-container .item-container .img .phone {
    width: 25px !important; }
  .floating-contact .contact-container .item-container .text h2 {
    font-size: 1.5rem; }
  .floating-contact .contact-container .item-container .text p, .floating-contact .contact-container .item-container .text a {
    font-size: 1rem; } }

.contacts {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 500px 1fr; }
.contacts .contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem; }
.contacts .contact-container .contact-item .title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #181817;
  font-size: 1.3rem;
  text-align: left;
  margin: 0; }
.contacts .contact-container .contact-item .text {
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  margin: 1rem 0;
  font-size: 1.3rem; }
.contacts .contact-container .contact-item .phones {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 8px;
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  margin: 1rem 0;
  font-size: 1.3rem; }
.contacts .contact-container .contact-item .phones img {
  width: 15px; }
.contacts .contact-container .contact-item .phones .tel {
  width: 25px; }
.contacts .img-contacts {
  display: grid;
  justify-content: center;
  align-items: center; }
@media screen and (max-width: 768px) {
  .contacts {
    grid-template-columns: 1fr; }
  .contacts .contact-container {
    grid-template-columns: 1fr; }
  .contacts .contact-container .contact-item .title, .contacts .contact-container .contact-item .text, .contacts .contact-container .contact-item .phones {
    font-size: 1.2rem; }
  .contacts .contact-container .contact-item .phones img {
    width: 10px; }
  .contacts .contact-container .contact-item .phones .tel {
    width: 20px; } }

.nosotros-container {
  padding-top: 127px; }
.nosotros-container .hernando {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative; }
.nosotros-container .hernando .only-small-text {
  display: none; }
.nosotros-container .hernando .img-container {
  position: relative; }
.nosotros-container .hernando .img-container img {
  height: 850px; }
.nosotros-container .hernando .text-container {
  display: flex;
  align-items: center; }
.nosotros-container .hernando .text-container .title {
  position: relative;
  font-family: "Raleway", sans-serif;
  color: #BC0D69;
  font-size: 2.5rem;
  font-weight: bold;
  width: max-content;
  transform: translateX(-20%); }
.nosotros-container .hernando .text-container .title::before {
  content: "";
  height: 10px;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-5%);
  border-bottom: 2px solid #580E33; }
.nosotros-container .hernando .text-container h3 {
  color: #580E33;
  margin: 4rem 0 1rem 0;
  font-weight: bold;
  font-size: 1.8rem; }
.nosotros-container .hernando .text-container .text {
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 500px; }
.nosotros-container .hernando .text-container .btn-more {
  font-family: "Archivo", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-100%, -100%);
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #580E33;
  padding: 1.5rem;
  line-height: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all .5s ease; }
.nosotros-container .hernando .text-container .btn-more span {
  color: #BC0D69;
  font-size: 3rem; }
.nosotros-container .hernando .text-container .btn-more:hover {
  color: #580E33;
  background-color: white; }
.nosotros-container .strategic-development {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 2rem;
  padding-bottom: 5rem; }
.nosotros-container .strategic-development h2 {
  color: #BC0D69;
  text-align: center;
  font-size: 2.5rem; }
.nosotros-container .strategic-development p {
  text-align: justify;
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  font-size: 1.5rem;
  line-height: 2.5rem; }
.nosotros-container .strategic-development h3 {
  color: #580E33;
  margin: 4rem 0 1rem 0;
  font-weight: bold;
  font-size: 1.8rem; }
.nosotros-container .testimonios {
  position: relative;
  height: 800px; }
.nosotros-container .testimonios .title {
  background-color: #BC0D69;
  padding: 1rem; }
.nosotros-container .testimonios .title h2 {
  transform: translateX(20%);
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  font-weight: bold; }
.nosotros-container .testimonios .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90%; }
.nosotros-container .testimonios .content .text-container {
  display: flex;
  justify-content: center;
  align-items: center; }
.nosotros-container .testimonios .content .text-container .text-content {
  max-width: 500px;
  transform: translateX(35%); }
.nosotros-container .testimonios .content .text-container .text-content h2 {
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69; }
.nosotros-container .testimonios .content .text-container .text-content h4 {
  color: #580E33;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: bold; }
.nosotros-container .testimonios .content .text-container .text-content h4 span {
  font-weight: lighter; }
.nosotros-container .testimonios .content .text-container .text-content p {
  line-height: 2.5rem;
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  font-size: 1.5rem; }
.nosotros-container .testimonios .content .text-container .text-content .circle-buttons {
  margin-top: 3rem; }
.nosotros-container .testimonios .content .text-container .text-content .circle-buttons .show-button {
  content: " ";
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid #BC0D69;
  margin-right: 15px;
  border-radius: 50% !important;
  transition: all .5s ease; }
.nosotros-container .testimonios .content .text-container .text-content .circle-buttons .show-button:hover {
  background-color: #BC0D69; }
.nosotros-container .testimonios .content .image-container img {
  width: 500px;
  height: 500px;
  box-shadow: -7px 3px 24px 1px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0; }
.nosotros-container .galeria .title {
  background-color: #BC0D69;
  padding: 1rem; }
.nosotros-container .galeria .title h2 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  font-weight: bold; }
.nosotros-container .galeria .images-container {
  margin: auto;
  padding: 4rem;
  max-width: 1300px; }
.nosotros-container .galeria .images-container .first {
  display: grid;
  grid-template-columns: 1fr 1fr; }
.nosotros-container .galeria .images-container .first .img1 {
  max-width: 640px; }
.nosotros-container .galeria .images-container .second {
  display: grid;
  grid-template-columns: max-content 1fr; }
.nosotros-container .galeria .images-container .second .third {
  max-height: 537px; }
.nosotros-container .galeria .images-container img {
  margin: .9rem; }
@media screen and (max-width: 769px) {
  .nosotros-container .hernando {
    grid-template-columns: 1fr;
    padding: 2rem; }
  .nosotros-container .hernando .only-small-text {
    display: block; }
  .nosotros-container .hernando .only-small-text p {
    text-align: center;
    font-family: "Archivo", sans-serif;
    color: #BC0D69;
    margin: 0;
    font-size: 2rem;
    font-weight: bold; }
  .nosotros-container .hernando .img-container .img-text, .nosotros-container .hernando .img-container .title {
    display: none; }
  .nosotros-container .hernando .img-container img {
    width: 100%;
    height: auto;
    transform: translateX(-25%); }
  .nosotros-container .hernando .text-container .title {
    display: none; }
  .nosotros-container .hernando .text-container h3 {
    font-size: 1.5rem; }
  .nosotros-container .hernando .text-container .text {
    font-size: 1.3rem;
    line-height: 2.3rem;
    text-align: justify; }
  .nosotros-container .strategic-development h2 {
    font-size: 2rem; }
  .nosotros-container .strategic-development h3 {
    font-size: 1.5rem;
    margin: 2rem 0 0 0; }
  .nosotros-container .strategic-development p {
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .nosotros-container .testimonios {
    height: auto; }
  .nosotros-container .testimonios .title h2 {
    font-size: 2rem;
    transform: none;
    text-align: center; }
  .nosotros-container .testimonios .content {
    grid-template-columns: 1fr;
    grid-template-areas: "a" "b";
    padding: 2rem; }
  .nosotros-container .testimonios .content .text-container {
    grid-area: b; }
  .nosotros-container .testimonios .content .text-container .text-content {
    transform: none; }
  .nosotros-container .testimonios .content .text-container .text-content h2 {
    font-size: 2rem; }
  .nosotros-container .testimonios .content .text-container .text-content h4 {
    font-size: 1.5rem; }
  .nosotros-container .testimonios .content .text-container .text-content p {
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .nosotros-container .testimonios .content .image-container {
    grid-area: a; }
  .nosotros-container .testimonios .content .image-container img {
    position: static;
    padding: 0;
    height: auto;
    transform: translateX(20%);
    width: 100%; }
  .nosotros-container .galeria .title h2 {
    font-size: 2rem; }
  .nosotros-container .galeria .images-container {
    padding: 2rem; }
  .nosotros-container .galeria .images-container .first {
    grid-template-columns: 1fr; }
  .nosotros-container .galeria .images-container .first img {
    width: 100%;
    margin: 1rem 0; }
  .nosotros-container .galeria .images-container .second {
    grid-template-columns: 1fr; }
  .nosotros-container .galeria .images-container .second img {
    width: 100%;
    margin: 1rem 0; } }

.historia-container {
  padding: 127px 2rem 2rem 2rem;
  max-width: 1400px;
  margin: auto; }
.historia-container .title-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 700px; }
.historia-container .title-container .image-container {
  padding: 5rem 0; }
.historia-container .title-container .image-container .draw-image {
  position: relative; }
.historia-container .title-container .image-container .draw-image .purple-circle {
  content: "";
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  background-color: #580E33;
  top: 0;
  left: 0;
  transform: translateX(-40%); }
.historia-container .title-container .image-container .draw-image .fucsia-circle {
  content: "";
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: absolute;
  background-color: #BC0D69;
  top: 0;
  left: 0;
  transform: translate(-20%, 50%); }
.historia-container .title-container .image-container .draw-image .image-circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(20%, 20%);
  background: url("../images/historia.jpg");
  background-size: cover;
  background-position: center;
  width: 450px;
  height: 450px;
  border-radius: 50%; }
.historia-container .title-container .text-container {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 2.3rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69; }
.historia-container .title-container .text-container h1 {
  position: relative; }
.historia-container .title-container .text-container h1::before {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(50%);
  content: "";
  height: 10px;
  width: 80%;
  border-bottom: 4px solid #580E33; }
.historia-container .historia-content {
  margin: auto;
  max-width: 900px;
  font-size: 1.5rem;
  transform: translate(20%);
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e; }
.historia-container .historia-content .img-p {
  text-align: center; }
.historia-container .historia-content .img-p img {
  margin: 0;
  width: 500px;
  height: 500px; }
.historia-container .historia-content h2 {
  color: #BC0D69; }
.historia-container .footer-agencias-empleo {
  display: flex;
  max-width: 1300px;
  margin: 10rem auto 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
.historia-container .footer-agencias-empleo .text p {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 1.3rem;
  color: #706f6e;
  line-height: 2.0rem;
  font-weight: 200;
  max-width: 650px; }
.historia-container .footer-agencias-empleo .images {
  display: flex;
  flex-wrap: wrap; }
.historia-container .footer-agencias-empleo .images img {
  margin: 0 1rem; }
.historia-container .footer-agencias-empleo .images .min-trabajo-img {
  width: 200px; }
@media screen and (max-width: 768px) {
  .historia-container .title-container {
    grid-template-columns: 1fr;
    grid-template-rows: 10%;
    grid-template-areas: "a" "b";
    min-height: 500px; }
  .historia-container .title-container .text-container {
    grid-area: a;
    align-items: start;
    justify-items: end; }
  .historia-container .title-container .text-container h1 {
    font-size: 2.5rem; }
  .historia-container .title-container .image-container {
    grid-area: b; }
  .historia-container .title-container .image-container .draw-image .purple-circle, .historia-container .title-container .image-container .draw-image .fucsia-circle, .historia-container .title-container .image-container .draw-image .image-circle {
    width: 250px;
    height: 250px; }
  .historia-container .historia-content {
    transform: none;
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .historia-container .historia-content .img-p img {
    width: 100%;
    height: auto; } }

.experiencias-container {
  padding: 127px 2rem 2rem 2rem; }
.experiencias-container .first-paragraph {
  margin: 4rem 0;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e;
  text-align: center; }
.experiencias-container .first-paragraph p {
  margin: auto;
  max-width: 800px; }
.experiencias-container .experiences-year {
  position: relative; }
.experiencias-container .experiences-year .year .bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1000%;
  z-index: -1;
  transform: translateX(-20%);
  height: 100px;
  border-top: 50px solid #580E33; }
.experiencias-container .experiences-year .year .purple-circle {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  background-color: #580E33;
  top: 0;
  right: 0;
  transform: translateX(70%); }
.experiencias-container .experiences-year .year .purple-circle span {
  font-size: 3.5rem;
  font-family: "Archivo", sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-10%, 100%);
  color: white; }
.experiencias-container .experiences-year .year .fucsia-circle {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: #BC0D69;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translate(40%, -20%); }
.experiencias-container .experiences-year .year-container {
  max-width: 1000px;
  margin: auto;
  padding: 5rem 0; }
.experiencias-container .experiences-year .year-container .experience-container {
  display: grid;
  margin: 6rem auto; }
.experiencias-container .experiences-year .year-container .experience-container .experience {
  display: grid;
  grid-template-columns: 50px 400px; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text p {
  font-size: 1rem;
  color: #580E33;
  font-family: "Raleway", sans-serif; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text h3 {
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text .btn-more {
  text-decoration: none; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text .btn-more div {
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text .btn-more div img {
  width: 25px; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-text .btn-more div:hover {
  color: #580E33;
  background-color: white; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-img {
  display: grid;
  justify-items: end;
  padding-right: 2rem; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-img .line {
  position: relative;
  height: 150px;
  content: "";
  border-left: 2px solid #BC0D69; }
.experiencias-container .experiences-year .year-container .experience-container .experience .experience-img .line .point {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  height: 20px;
  width: 20px;
  content: "";
  background-color: #580E33;
  border-radius: 50%; }
.experiencias-container .experiences-year .year-container .exp2-container {
  justify-content: end; }
@media screen and (max-width: 768px) {
  .experiencias-container .first-paragraph {
    margin: 0;
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .experiencias-container .experiences-year .year .purple-circle {
    width: 200px;
    height: 200px; }
  .experiencias-container .experiences-year .year .purple-circle span {
    transform: translate(-20%, 100%);
    font-size: 2rem; }
  .experiencias-container .experiences-year .year .fucsia-circle {
    width: 200px;
    height: 200px; }
  .experiencias-container .experiences-year .year-container .experience-container .experience {
    grid-template-columns: 20px 1fr; } }

.actions-container-page {
  padding: 127px 2rem 2rem 2rem; }
.actions-container-page .advice {
  display: grid;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69;
  text-align: center;
  height: 500px; }
.actions-container-page .articles-container {
  max-width: 1100px;
  margin: auto;
  padding: 5rem 0; }
.actions-container-page .articles-container .actions-container {
  display: grid;
  margin: 2rem auto; }
.actions-container-page .articles-container .actions-container .action {
  display: flex;
  max-width: 600px; }
.actions-container-page .articles-container .actions-container .action .action-text {
  padding: 1rem; }
.actions-container-page .articles-container .actions-container .action .action-text .category {
  font-size: 1.3rem; }
.actions-container-page .articles-container .actions-container .action .action-text span {
  color: gray;
  font-size: 1rem;
  text-transform: capitalize; }
.actions-container-page .articles-container .actions-container .action .action-text p {
  font-size: 1rem;
  color: #580E33;
  font-family: "Raleway", sans-serif; }
.actions-container-page .articles-container .actions-container .action .action-text h3 {
  font-family: "Archivo", sans-serif;
  max-width: 300px;
  font-size: 1.5rem;
  color: #BC0D69;
  margin: .5rem 0 .2rem 0; }
.actions-container-page .articles-container .actions-container .action .action-text .btn-more {
  text-decoration: none; }
.actions-container-page .articles-container .actions-container .action .action-text .btn-more div {
  margin-top: .8rem;
  width: max-content;
  padding: 1rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.actions-container-page .articles-container .actions-container .action .action-text .btn-more div img {
  width: 25px; }
.actions-container-page .articles-container .actions-container .action .action-text .btn-more div:hover {
  color: #580E33;
  background-color: white; }
.actions-container-page .articles-container .actions-container .action .action-img {
  position: relative; }
.actions-container-page .articles-container .actions-container .action .action-img .image-circle {
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center; }
.actions-container-page .articles-container .exp2-container {
  justify-content: end; }
.actions-container-page .show-more {
  text-decoration: none; }
.actions-container-page .show-more div {
  margin: auto;
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.actions-container-page .show-more div img {
  width: 25px; }
.actions-container-page .show-more div:hover {
  color: #580E33;
  background-color: white; }
@media screen and (max-width: 768px) {
  .actions-container-page .articles-container {
    padding: 0; }
  .actions-container-page .articles-container .actions-container .action {
    grid-template-columns: 1fr;
    flex-wrap: wrap; }
  .actions-container-page .articles-container .actions-container .action .action-img {
    display: grid;
    justify-self: center;
    max-width: 300px; }
  .actions-container-page .articles-container .actions-container .action .action-text {
    padding-left: 0; } }

.indicadores-container {
  padding: 127px 2rem 2rem 2rem; }
.indicadores-container .first-paragraph {
  margin: 4rem 0;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e;
  text-align: center; }
.indicadores-container .first-paragraph p {
  margin: auto;
  max-width: 800px; }
.indicadores-container .snake-container {
  position: relative;
  max-width: 830px;
  min-height: 952px;
  margin: auto;
  /*  circle = fondo blanco, letras fucsias
      circle-purple-words = fondo blanco, letra morada
      circle-purple = fondo morado ,letras blancas
      circle-fucsia = fondo fucsia ,letras blancas
  */ }
.indicadores-container .snake-container .circle {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
  color: #BC0D69;
  width: 250px;
  height: 250px;
  font-family: "Raleway", sans-serif;
  margin: auto; }
.indicadores-container .snake-container .circle h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  transform: translate(20%, 100%);
  margin: 0; }
.indicadores-container .snake-container .circle h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 40%;
  border-bottom: 3px solid #BC0D69; }
.indicadores-container .snake-container .circle p {
  transform: translate(20%, 60%); }
.indicadores-container .snake-container .circle p span {
  font-weight: bold; }
.indicadores-container .snake-container .circle-purple-words {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
  color: #580E33;
  width: 250px;
  height: 250px;
  font-family: "Raleway", sans-serif;
  margin: auto; }
.indicadores-container .snake-container .circle-purple-words h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  transform: translate(20%, 100%);
  margin: 0; }
.indicadores-container .snake-container .circle-purple-words h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 40%;
  border-bottom: 3px solid #580E33; }
.indicadores-container .snake-container .circle-purple-words p {
  transform: translate(20%, 60%); }
.indicadores-container .snake-container .circle-purple-words p span {
  font-weight: bold; }
.indicadores-container .snake-container .circle-purple {
  border-radius: 50%;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
  color: white;
  width: 250px;
  height: 250px;
  font-family: "Raleway", sans-serif;
  background-color: #580E33;
  margin: auto; }
.indicadores-container .snake-container .circle-purple h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  transform: translate(20%, 100%);
  margin: 0; }
.indicadores-container .snake-container .circle-purple h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 40%;
  border-bottom: 3px solid white; }
.indicadores-container .snake-container .circle-purple p {
  transform: translate(20%, 60%); }
.indicadores-container .snake-container .circle-purple p span {
  font-weight: bold; }
.indicadores-container .snake-container .circle-fucsia {
  border-radius: 50%;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.75);
  color: white;
  width: 250px;
  height: 250px;
  font-family: "Raleway", sans-serif;
  background-color: #BC0D69;
  margin: auto; }
.indicadores-container .snake-container .circle-fucsia h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: "Archivo", sans-serif;
  transform: translate(20%, 100%);
  margin: 0; }
.indicadores-container .snake-container .circle-fucsia h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 40%;
  border-bottom: 3px solid white; }
.indicadores-container .snake-container .circle-fucsia p {
  transform: translate(20%, 60%); }
.indicadores-container .snake-container .circle-fucsia p span {
  font-weight: bold; }
.indicadores-container .snake-container .conector, .indicadores-container .snake-container .conector-2 {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  background-color: #BC0D69;
  border-radius: 50%; }
.indicadores-container .snake-container .container-circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }
.indicadores-container .snake-container .container-circle-1 .conector {
  top: 0;
  right: 0;
  transform: translate(70%, 100%); }
.indicadores-container .snake-container .container-circle-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(280px, -30px);
  z-index: -1; }
.indicadores-container .snake-container .container-circle-2 .conector {
  top: 0;
  right: 0;
  transform: translate(40%, 180%); }
.indicadores-container .snake-container .container-circle-3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(540px, 30px);
  z-index: -2; }
.indicadores-container .snake-container .container-circle-3 .conector {
  top: 0;
  right: 0;
  transform: translate(-50%, 270%);
  background-color: #580E33; }
.indicadores-container .snake-container .container-circle-4 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, 280px);
  z-index: 1; }
.indicadores-container .snake-container .container-circle-4 .conector {
  top: 0;
  left: 0;
  transform: translate(60%, -70%); }
.indicadores-container .snake-container .container-circle-5 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(250px, 250px);
  z-index: 2; }
.indicadores-container .snake-container .container-circle-5 .conector {
  top: 0;
  left: 0;
  transform: translate(-60%, 70px); }
.indicadores-container .snake-container .container-circle-5 .conector-2 {
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(10%, 200px); }
.indicadores-container .snake-container .container-circle-6 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(650px, 290px);
  z-index: -3; }
.indicadores-container .snake-container .container-circle-6 .conector {
  top: 0;
  left: 0;
  transform: translate(-15%, 190px); }
.indicadores-container .snake-container .container-circle-7 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(180px, 625px); }
.indicadores-container .snake-container .container-circle-7 .conector {
  top: 0;
  left: 0;
  z-index: 10;
  transform: translate(200px, -22px); }
.indicadores-container .snake-container .container-circle-8 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(440px, 475px);
  z-index: -4; }
@media screen and (max-width: 768px) {
  .indicadores-container .first-paragraph {
    font-size: 1.3rem;
    line-height: 2.3rem; }
  .indicadores-container .snake-container {
    min-height: 2112px; }
  .indicadores-container .snake-container .container-circle-1, .indicadores-container .snake-container .container-circle-2, .indicadores-container .snake-container .container-circle-3, .indicadores-container .snake-container .container-circle-4, .indicadores-container .snake-container .container-circle-5, .indicadores-container .snake-container .container-circle-6, .indicadores-container .snake-container .container-circle-7, .indicadores-container .snake-container .container-circle-8 {
    position: relative;
    transform: none;
    margin: 1rem auto; }
  .indicadores-container .snake-container .container-circle-1 .conector, .indicadores-container .snake-container .container-circle-1 .conector-2, .indicadores-container .snake-container .container-circle-2 .conector, .indicadores-container .snake-container .container-circle-2 .conector-2, .indicadores-container .snake-container .container-circle-3 .conector, .indicadores-container .snake-container .container-circle-3 .conector-2, .indicadores-container .snake-container .container-circle-4 .conector, .indicadores-container .snake-container .container-circle-4 .conector-2, .indicadores-container .snake-container .container-circle-5 .conector, .indicadores-container .snake-container .container-circle-5 .conector-2, .indicadores-container .snake-container .container-circle-6 .conector, .indicadores-container .snake-container .container-circle-6 .conector-2, .indicadores-container .snake-container .container-circle-7 .conector, .indicadores-container .snake-container .container-circle-7 .conector-2, .indicadores-container .snake-container .container-circle-8 .conector, .indicadores-container .snake-container .container-circle-8 .conector-2 {
    top: initial;
    right: initial;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%); }
  .indicadores-container .snake-container .container-circle-1 {
    z-index: 7; }
  .indicadores-container .snake-container .container-circle-2 {
    z-index: 6; }
  .indicadores-container .snake-container .container-circle-3 {
    z-index: 5; }
  .indicadores-container .snake-container .container-circle-4 {
    z-index: 4; }
  .indicadores-container .snake-container .container-circle-5 {
    z-index: 3; }
  .indicadores-container .snake-container .container-circle-6 {
    z-index: 2; }
  .indicadores-container .snake-container .container-circle-7 {
    z-index: 1; } }

.ejes-detalles-container {
  padding: 127px 2rem 2rem 2rem;
  margin: auto; }
.ejes-detalles-container .title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
  margin-top: 2rem;
  align-items: flex-end;
  position: relative; }
.ejes-detalles-container .title-container .text-container {
  align-items: flex-end;
  font-size: 1.5rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 10rem; }
.ejes-detalles-container .title-container .text-container p {
  color: #580E33;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.8rem; }
.ejes-detalles-container .title-container .text-container h1 {
  max-width: 650px;
  margin: 0;
  font-size: 2.8rem;
  color: #BC0D69;
  margin-bottom: 1rem; }
.ejes-detalles-container .title-container .text-container span {
  font-size: 1.8rem;
  color: #580E33; }
.ejes-detalles-container .title-container .image-container {
  position: relative;
  display: flex;
  justify-content: flex-end; }
.ejes-detalles-container .title-container .image-container .circles-back {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(10%, -20%);
  width: 550px;
  z-index: -1; }
.ejes-detalles-container .title-container .image-container .image-circle {
  display: block;
  z-index: 1;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.75); }
.ejes-detalles-container .title-container .bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #BC0D69;
  color: white;
  margin-top: 5rem;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(8%, 140%); }
.ejes-detalles-container .title-container .bar .bar-content {
  display: flex; }
.ejes-detalles-container .title-container .bar .bar-content .img {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 1rem; }
.ejes-detalles-container .title-container .bar .bar-content .ubicacion {
  width: 60px; }
.ejes-detalles-container .title-container .bar .bar-content .text {
  display: flex;
  align-items: center; }
.ejes-detalles-container .title-container .bar .bar-content .text h3 {
  font-family: "Archivo", sans-serif;
  margin: 0; }
.ejes-detalles-container .title-container .bar .bar-content .text p {
  font-family: "Raleway", sans-serif;
  margin: 5px 0; }
.ejes-detalles-container .detalle-content {
  margin: 5rem auto;
  margin-top: 15rem;
  max-width: 1200px;
  font-size: 1.5rem;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e; }
.ejes-detalles-container .detalle-content .relationed-projects {
  font-weight: bold;
  color: #580E33;
  font-size: 1.8rem;
  text-align: left; }
.ejes-detalles-container .detalle-content span {
  color: #706f6e !important; }
.ejes-detalles-container .detalle-content img {
  width: 80%;
  margin: auto;
  display: block; }
.ejes-detalles-container .detalle-content h2, .ejes-detalles-container .detalle-content h1 {
  color: #580E33; }
.ejes-detalles-container .detalle-content .owner {
  font-weight: bold;
  color: #580E33; }
.ejes-detalles-container .detalle-content .owner span {
  font-weight: lighter; }
@media screen and (max-width: 768px) {
  .ejes-detalles-container .title-container {
    grid-template-columns: 1fr;
    min-height: auto; }
  .ejes-detalles-container .title-container .text-container {
    order: 1;
    align-items: start;
    justify-items: start;
    padding: 0; }
  .ejes-detalles-container .title-container .text-container p {
    font-size: 1.4rem;
    margin-bottom: .5rem; }
  .ejes-detalles-container .title-container .text-container h1 {
    font-size: 1.6rem;
    margin-bottom: .5rem;
    margin-top: 3rem; }
  .ejes-detalles-container .title-container .text-container span {
    font-size: 1.3rem; }
  .ejes-detalles-container .title-container .image-container .image-circle {
    width: 100%;
    height: auto; }
  .ejes-detalles-container .title-container .image-container .circles-back {
    display: none; }
  .ejes-detalles-container .title-container .bar {
    position: initial;
    bottom: initial;
    left: initial;
    transform: none;
    margin-top: 1rem;
    grid-template-columns: 1fr; }
  .ejes-detalles-container .title-container .bar .bar-content .img {
    width: 70px; }
  .ejes-detalles-container .title-container .bar .bar-content .img .ubicacion {
    width: 35px; }
  .ejes-detalles-container .title-container .bar .bar-content .text h3 {
    font-size: 1.3rem; }
  .ejes-detalles-container .title-container .bar .bar-content .text p {
    font-size: 1.2rem; }
  .ejes-detalles-container .detalle-content {
    transform: none;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 0; }
  .ejes-detalles-container .detalle-content img {
    width: 100%;
    height: auto; } }

.proyectos-detalles-container {
  padding: 127px 2rem 2rem 2rem;
  margin: auto; }
.proyectos-detalles-container .title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
  margin-top: 2rem;
  align-items: flex-end;
  position: relative; }
.proyectos-detalles-container .title-container .text-container {
  align-items: flex-end;
  font-size: 1.5rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 10rem; }
.proyectos-detalles-container .title-container .text-container p {
  color: #580E33;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.8rem; }
.proyectos-detalles-container .title-container .text-container h1 {
  max-width: 650px;
  margin: 0;
  font-size: 2.8rem;
  color: #BC0D69;
  margin-bottom: 1rem; }
.proyectos-detalles-container .title-container .text-container span {
  font-size: 1.8rem;
  color: #580E33; }
.proyectos-detalles-container .title-container .image-container {
  position: relative;
  display: flex;
  justify-content: flex-end; }
.proyectos-detalles-container .title-container .image-container .circles-back {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(10%, -20%);
  width: 550px;
  z-index: -1; }
.proyectos-detalles-container .title-container .image-container .image-circle {
  display: block;
  z-index: 1;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.75); }
.proyectos-detalles-container .title-container .bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #BC0D69;
  color: white;
  margin-top: 5rem;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(8%, 140%); }
.proyectos-detalles-container .title-container .bar .bar-content {
  display: flex; }
.proyectos-detalles-container .title-container .bar .bar-content .img {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 1rem; }
.proyectos-detalles-container .title-container .bar .bar-content .ubicacion {
  width: 60px; }
.proyectos-detalles-container .title-container .bar .bar-content .text {
  display: flex;
  align-items: center; }
.proyectos-detalles-container .title-container .bar .bar-content .text h3 {
  font-family: "Archivo", sans-serif;
  margin: 0; }
.proyectos-detalles-container .title-container .bar .bar-content .text p {
  font-family: "Raleway", sans-serif;
  margin: 5px 0; }
.proyectos-detalles-container .detalle-content {
  margin: 5rem auto;
  margin-top: 15rem;
  max-width: 1200px;
  font-size: 1.5rem;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e; }
.proyectos-detalles-container .detalle-content .relationed-projects {
  font-weight: bold;
  color: #580E33;
  font-size: 1.8rem;
  text-align: left; }
.proyectos-detalles-container .detalle-content span {
  color: #706f6e !important; }
.proyectos-detalles-container .detalle-content img {
  width: 80%;
  margin: auto;
  display: block; }
.proyectos-detalles-container .detalle-content h2, .proyectos-detalles-container .detalle-content h1 {
  color: #580E33; }
.proyectos-detalles-container .detalle-content .owner {
  font-weight: bold;
  color: #580E33; }
.proyectos-detalles-container .detalle-content .owner span {
  font-weight: lighter; }
@media screen and (max-width: 768px) {
  .proyectos-detalles-container .title-container {
    grid-template-columns: 1fr;
    min-height: auto; }
  .proyectos-detalles-container .title-container .text-container {
    order: 1;
    align-items: start;
    justify-items: start;
    padding: 0; }
  .proyectos-detalles-container .title-container .text-container p {
    font-size: 1.4rem;
    margin-bottom: .5rem; }
  .proyectos-detalles-container .title-container .text-container h1 {
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .proyectos-detalles-container .title-container .text-container span {
    font-size: 1.3rem; }
  .proyectos-detalles-container .title-container .image-container .image-circle {
    width: 100%;
    height: auto; }
  .proyectos-detalles-container .title-container .image-container .circles-back {
    display: none; }
  .proyectos-detalles-container .title-container .bar {
    position: initial;
    bottom: initial;
    left: initial;
    transform: none;
    margin-top: 1rem;
    grid-template-columns: 1fr; }
  .proyectos-detalles-container .title-container .bar .bar-content .img {
    width: 70px; }
  .proyectos-detalles-container .title-container .bar .bar-content .img .ubicacion {
    width: 35px; }
  .proyectos-detalles-container .title-container .bar .bar-content .text h3 {
    font-size: 1.3rem; }
  .proyectos-detalles-container .title-container .bar .bar-content .text p {
    font-size: 1.2rem; }
  .proyectos-detalles-container .detalle-content {
    transform: none;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 0; }
  .proyectos-detalles-container .detalle-content img {
    width: 100%;
    height: auto; } }

.acciones-detalles-container {
  padding: 127px 2rem 2rem 2rem;
  margin: auto; }
.acciones-detalles-container .title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
  margin-top: 2rem;
  align-items: flex-end;
  position: relative; }
.acciones-detalles-container .title-container .text-container {
  align-items: flex-end;
  font-size: 1.5rem;
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  position: relative;
  height: 100%;
  display: flex;
  padding-left: 10rem; }
.acciones-detalles-container .title-container .text-container p {
  color: #580E33;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.8rem; }
.acciones-detalles-container .title-container .text-container h1 {
  max-width: 650px;
  margin: 0;
  font-size: 2.8rem;
  color: #BC0D69;
  margin-bottom: 1rem; }
.acciones-detalles-container .title-container .text-container span {
  font-size: 1.8rem;
  color: #580E33; }
.acciones-detalles-container .title-container .image-container {
  position: relative;
  display: flex;
  justify-content: flex-end; }
.acciones-detalles-container .title-container .image-container .circles-back {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(10%, -20%);
  width: 550px;
  z-index: -1; }
.acciones-detalles-container .title-container .image-container .image-circle {
  display: block;
  z-index: 1;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.75); }
.acciones-detalles-container .title-container .bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #BC0D69;
  color: white;
  margin-top: 5rem;
  position: absolute;
  font-size: 1.2rem;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translate(8%, 140%); }
.acciones-detalles-container .title-container .bar .bar-content {
  display: flex; }
.acciones-detalles-container .title-container .bar .bar-content .img {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 1rem; }
.acciones-detalles-container .title-container .bar .bar-content .ubicacion {
  width: 60px; }
.acciones-detalles-container .title-container .bar .bar-content .text {
  display: flex;
  align-items: center; }
.acciones-detalles-container .title-container .bar .bar-content .text h3 {
  font-family: "Archivo", sans-serif;
  margin: 0; }
.acciones-detalles-container .title-container .bar .bar-content .text p {
  font-family: "Raleway", sans-serif;
  margin: 5px 0; }
.acciones-detalles-container .detalle-content {
  margin: 5rem auto;
  margin-top: 15rem;
  max-width: 1200px;
  font-size: 1.5rem;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  line-height: 2.5rem;
  color: #706f6e; }
.acciones-detalles-container .detalle-content .relationed-projects {
  font-weight: bold;
  color: #580E33;
  font-size: 1.8rem;
  text-align: left; }
.acciones-detalles-container .detalle-content span {
  color: #706f6e !important; }
.acciones-detalles-container .detalle-content img {
  width: 80%;
  margin: auto;
  display: block; }
.acciones-detalles-container .detalle-content h2, .acciones-detalles-container .detalle-content h1 {
  color: #580E33; }
.acciones-detalles-container .detalle-content .owner {
  font-weight: bold;
  color: #580E33; }
.acciones-detalles-container .detalle-content .owner span {
  font-weight: lighter; }
@media screen and (max-width: 768px) {
  .acciones-detalles-container .title-container {
    grid-template-columns: 1fr;
    min-height: auto; }
  .acciones-detalles-container .title-container .text-container {
    order: 1;
    align-items: start;
    justify-items: start;
    padding: 0; }
  .acciones-detalles-container .title-container .text-container p {
    font-size: 1.4rem;
    margin-bottom: .5rem; }
  .acciones-detalles-container .title-container .text-container h1 {
    font-size: 1.6rem;
    margin-bottom: .5rem; }
  .acciones-detalles-container .title-container .text-container span {
    font-size: 1.3rem; }
  .acciones-detalles-container .title-container .image-container .image-circle {
    width: 100%;
    height: auto; }
  .acciones-detalles-container .title-container .image-container .circles-back {
    display: none; }
  .acciones-detalles-container .title-container .bar {
    position: initial;
    bottom: initial;
    left: initial;
    transform: none;
    margin-top: 1rem;
    grid-template-columns: 1fr; }
  .acciones-detalles-container .title-container .bar .bar-content .img {
    width: 70px; }
  .acciones-detalles-container .title-container .bar .bar-content .img .ubicacion {
    width: 35px; }
  .acciones-detalles-container .title-container .bar .bar-content .text h3 {
    font-size: 1.3rem; }
  .acciones-detalles-container .title-container .bar .bar-content .text p {
    font-size: 1.2rem; }
  .acciones-detalles-container .detalle-content {
    transform: none;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 0; }
  .acciones-detalles-container .detalle-content img {
    width: 100%;
    height: auto; } }

.ejes-container a {
  text-decoration: none !important; }
.ejes-container .show-more {
  text-decoration: none; }
.ejes-container .show-more div {
  margin: auto;
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.ejes-container .show-more div img {
  width: 25px; }
.ejes-container .show-more div:hover {
  color: #580E33;
  background-color: white; }
.ejes-container .conciliacion .content-container .conciliacion-img {
  position: relative; }
.ejes-container .conciliacion .content-container .conciliacion-img .fucsia-circle {
  position: relative;
  top: 0;
  right: -50%;
  content: "";
  background-color: #BC0D69;
  width: 100%;
  height: 100%;
  border-radius: 50%; }
.ejes-container .conciliacion .content-container .conciliacion-img .left {
  left: -120%; }
.ejes-container .conciliacion .content-container .conciliacion-img .img-inside {
  padding: 2rem 0;
  transform: translateX(-60%); }
.ejes-container .conciliacion .content-container .conciliacion-img .img-left {
  padding: 2rem 0;
  transform: translateX(70%); }
@media screen and (max-width: 450px) {
  .ejes-container .conciliacion .content-container .fucsia-circle {
    right: -70% !important;
    width: 450px !important;
    height: 450px !important; }
  .ejes-container .conciliacion .content-container .img-inside {
    width: auto;
    transform: translateX(-50%) !important; } }

.divulgacion-container {
  padding: 127px 2rem 2rem 2rem; }
.divulgacion-container .cards-container {
  margin: 6rem auto;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  justify-content: center;
  grid-gap: 4rem;
  position: relative; }
.divulgacion-container .cards-container .card {
  max-width: 400px;
  border-radius: 30px;
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.4); }
.divulgacion-container .cards-container .card .card-head {
  position: relative; }
.divulgacion-container .cards-container .card .card-head img {
  width: 100%;
  max-height: 200px;
  border-radius: 30px; }
.divulgacion-container .cards-container .card .card-head .play {
  position: absolute;
  bottom: 0;
  left: 75%;
  transform: translateY(50%);
  background-color: #BC0D69;
  border-radius: 50%;
  padding: .5rem;
  width: max-content;
  margin: 1rem 0;
  cursor: pointer; }
.divulgacion-container .cards-container .card .card-head .play img {
  width: 30px; }
.divulgacion-container .cards-container .card .card-body {
  position: relative;
  padding: 2rem 4rem 2rem 2rem;
  height: 210px; }
.divulgacion-container .cards-container .card .card-body .card-date {
  font-size: 1.3rem;
  color: #580E33;
  font-family: "Raleway", sans-serif; }
.divulgacion-container .cards-container .card .card-body .card-title {
  margin-top: .5rem;
  font-family: "Archivo", sans-serif;
  font-size: 1.3rem;
  color: #BC0D69; }
.divulgacion-container .cards-container .card .card-buttons {
  padding: 0 2rem;
  padding-bottom: 2rem; }
.divulgacion-container .cards-container .card .card-buttons .btn-more {
  text-decoration: none; }
.divulgacion-container .cards-container .card .card-buttons .btn-more div {
  width: max-content;
  padding: 1rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: .8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.divulgacion-container .cards-container .card .card-buttons .btn-more div img {
  width: 20px; }
.divulgacion-container .cards-container .card .card-buttons .btn-more div:hover {
  color: #580E33;
  background-color: white; }
.divulgacion-container .advice {
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69;
  text-align: center;
  height: 500px; }
.divulgacion-container .show-more {
  text-decoration: none; }
.divulgacion-container .show-more div {
  margin: auto;
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.divulgacion-container .show-more div img {
  width: 25px; }
.divulgacion-container .show-more div:hover {
  color: #580E33;
  background-color: white; }
@media screen and (max-width: 1500px) {
  .divulgacion-container .cards-container {
    grid-template-columns: repeat(3, 350px); } }
@media screen and (max-width: 1024px) {
  .divulgacion-container .cards-container {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 500px) {
  .divulgacion-container .cards-container {
    grid-template-columns: 1fr; }
  .divulgacion-container .advice {
    transform: none; } }

.projects-container-page {
  padding: 127px 2rem 2rem 2rem; }
.projects-container-page .advice {
  display: grid;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69;
  text-align: center;
  height: 500px; }
.projects-container-page .articles-container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 0; }
.projects-container-page .articles-container .actions-container {
  display: grid;
  margin: 4rem auto; }
.projects-container-page .articles-container .actions-container .action {
  display: grid;
  grid-template-columns: 350px 400px; }
.projects-container-page .articles-container .actions-container .action .action-text {
  padding-left: 2rem; }
.projects-container-page .articles-container .actions-container .action .action-text p {
  font-size: 1rem;
  color: #580E33;
  font-family: "Raleway", sans-serif; }
.projects-container-page .articles-container .actions-container .action .action-text h3 {
  font-family: "Archivo", sans-serif;
  font-size: 1.5rem;
  color: #BC0D69; }
.projects-container-page .articles-container .actions-container .action .action-text .btn-more {
  text-decoration: none; }
.projects-container-page .articles-container .actions-container .action .action-text .btn-more div {
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.projects-container-page .articles-container .actions-container .action .action-text .btn-more div img {
  width: 25px; }
.projects-container-page .articles-container .actions-container .action .action-text .btn-more div:hover {
  color: #580E33;
  background-color: white; }
.projects-container-page .articles-container .actions-container .action .action-img {
  position: relative; }
.projects-container-page .articles-container .actions-container .action .action-img .image-circle {
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center; }
.projects-container-page .articles-container .exp2-container {
  justify-content: end; }
.projects-container-page .show-more {
  text-decoration: none; }
.projects-container-page .show-more div {
  margin: auto;
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.projects-container-page .show-more div img {
  width: 25px; }
.projects-container-page .show-more div:hover {
  color: #580E33;
  background-color: white; }
@media screen and (max-width: 768px) {
  .projects-container-page .articles-container {
    padding: 0; }
  .projects-container-page .articles-container .actions-container .action {
    grid-template-columns: 1fr; }
  .projects-container-page .articles-container .actions-container .action .action-img {
    display: grid;
    justify-self: center;
    max-width: 300px; }
  .projects-container-page .articles-container .actions-container .action .action-text {
    padding-left: 0; } }

body, html {
  position: relative;
  margin: 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

.home {
  min-height: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  padding: 127px 2rem 2rem 2rem; }
.home .home-text {
  display: flex;
  align-items: center;
  justify-self: center;
  max-width: 500px;
  font-family: "Raleway", sans-serif; }
.home .home-text .text {
  font-size: 2.5rem;
  color: #580E33;
  font-weight: bold;
  text-transform: uppercase; }
.home .home-text .text .text-2 {
  color: #BC0D69;
  font-size: 4rem;
  font-weight: bold; }
.home .home-img {
  position: relative; }
.home .home-img .circle {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #580E33;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  transform: translateX(10%); }
.home .home-img .circle-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%, 15%); }
.home .home-img .circle-text p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #BC0D69;
  font-size: 3rem; }
.home .home-img .circle-text p .number {
  font-family: "Archivo", sans-serif;
  color: white;
  font-size: 9rem;
  position: relative; }
.home .home-img .circle-text p .number:before {
  position: absolute;
  left: -10%;
  bottom: 10%;
  display: block;
  content: ' ';
  width: 65%;
  height: 10px;
  border-bottom: 4px solid white; }
.home .home-img .circle-text p .calidad {
  font-weight: lighter;
  font-size: 1.5rem;
  color: white; }
.home .home-img .circle-text .btn-more {
  text-decoration: none; }
.home .home-img .circle-text .btn-more div {
  line-height: 1.5rem;
  width: max-content;
  padding: 1.2rem;
  margin-top: 3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
  transform: translateX(10%);
  z-index: 1; }
.home .home-img .circle-text .btn-more div img {
  width: 25px; }
.home .home-img .circle-text .btn-more div:hover {
  color: #580E33;
  background-color: #EBEBEB; }
.home .home-img img.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 700px; }

.conciliacion {
  padding-top: 150px;
  background-color: #EBEBEB; }
.conciliacion .content-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; }
.conciliacion .content-container .conciliacion-text {
  display: flex;
  align-items: center;
  padding: 0 9rem; }
.conciliacion .content-container .conciliacion-text .memoria {
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  font-weight: bold;
  font-size: 2.8rem;
  display: block;
  margin: 2rem 0; }
.conciliacion .content-container .conciliacion-text .title {
  font-family: "Raleway", sans-serif;
  color: #181817;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0; }
.conciliacion .content-container .conciliacion-text .text {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  color: #706f6e;
  line-height: 2.5rem;
  margin-bottom: 4rem; }
.conciliacion .content-container .conciliacion-text .btn-more {
  text-decoration: none; }
.conciliacion .content-container .conciliacion-text .btn-more div {
  margin-top: 2rem;
  width: max-content;
  padding: 1.3rem;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease; }
.conciliacion .content-container .conciliacion-text .btn-more div img {
  width: 25px; }
.conciliacion .content-container .conciliacion-text .btn-more div:hover {
  color: #580E33;
  background-color: #EBEBEB; }
.conciliacion .content-container .conciliacion-img {
  display: grid;
  justify-content: end; }
.conciliacion .content-container .conciliacion-img img {
  margin: 3rem 0;
  height: 450px; }
.conciliacion .btn-container {
  display: grid;
  justify-items: center; }
.conciliacion .btn-container .btn-actions {
  margin-bottom: 2rem;
  font-family: "Archivo", sans-serif;
  padding: 1.5rem;
  background-color: #580E33;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  width: 240px;
  color: white;
  cursor: pointer;
  transition: all .5s ease; }
.conciliacion .btn-container .btn-actions img {
  width: 25px; }
.conciliacion .btn-container .btn-actions:hover {
  color: #BC0D69;
  background-color: #EBEBEB; }

.fundador {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative; }
.fundador .only-small-text {
  display: none; }
.fundador .img-container {
  position: relative; }
.fundador .img-container .img-text {
  top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  transform: translate(5%, 20%); }
.fundador .img-container .img-text:before {
  position: absolute;
  left: -20%;
  top: 4%;
  display: block;
  content: ' ';
  width: 87%;
  height: 10px;
  border-bottom: 4px solid white; }
.fundador .img-container img {
  height: 850px; }
.fundador .img-container .title {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 75%);
  font-family: "Raleway", sans-serif;
  color: #181817;
  font-size: 4.5rem;
  font-weight: bold;
  max-width: 500px;
  margin-bottom: 10rem; }
.fundador .text-container {
  display: flex;
  align-items: center; }
.fundador .text-container .btn-more {
  font-family: "Archivo", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-100%, -100%);
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: #580E33;
  padding: 1.5rem;
  line-height: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all .5s ease;
  text-decoration: none; }
.fundador .text-container .btn-more span {
  color: #BC0D69;
  font-size: 3rem; }
.fundador .text-container .btn-more:hover {
  color: #580E33;
  background-color: white; }

.noticias-container {
  position: relative; }
.noticias-container .noticias {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 2rem;
  background-color: #EBEBEB; }
.noticias-container .noticias .notice-container {
  position: relative;
  padding: 2rem;
  height: 250px;
  background: url("../images/noticia.jpg");
  cursor: pointer;
  transition: all .5s ease; }
.noticias-container .noticias .notice-container .notice-title, .noticias-container .noticias .notice-container .notice-date {
  margin: 0 0 3rem 0;
  padding-right: 3rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 2rem; }
.noticias-container .noticias .notice-container .notice-date {
  font-size: 1.5rem;
  position: absolute;
  bottom: 10%;
  margin: 0; }
.noticias-container .noticias .notice-container:hover {
  box-shadow: 25px 25px 0px -5px #580E33; }
.noticias-container .show-more-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  padding: 2rem;
  color: white;
  cursor: pointer;
  transition: all .5s ease; }
.noticias-container .show-more-btn:hover {
  color: #BC0D69;
  background-color: #EBEBEB; }

.mas-acciones {
  padding: 2rem;
  background-color: #EBEBEB;
  position: relative; }
.mas-acciones h1 {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  color: #BC0D69;
  transform: translateX(15%); }
.mas-acciones .acciones-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  max-width: 1300px; }
.mas-acciones .acciones-container .accion-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  max-width: 300px;
  min-height: 200px;
  position: relative;
  padding: 2rem;
  background-position: center !important;
  background-size: cover !important;
  background: url("../images/noticia.jpg");
  cursor: pointer;
  transition: all .5s ease; }
.mas-acciones .acciones-container .accion-container .courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }
.mas-acciones .acciones-container .accion-container .acciones-title, .mas-acciones .acciones-container .accion-container .acciones-date {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1; }
.mas-acciones .acciones-container .accion-container .acciones-date {
  font-size: 2rem;
  position: relative;
  margin: 0; }
.mas-acciones .acciones-container .accion-container .acciones-date::before {
  content: "";
  width: 50%;
  height: 10px;
  border-bottom: 3px solid #BC0D69;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%); }
.mas-acciones .acciones-container .accion-container:hover {
  box-shadow: 25px -25px 0px 0px #BC0D69; }
.mas-acciones .show-more-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
  background-color: #BC0D69;
  padding: 1.5rem;
  color: white;
  cursor: pointer;
  transition: all .5s ease; }
.mas-acciones .show-more-btn:hover {
  color: #BC0D69;
  background-color: #EBEBEB; }

.aliados {
  padding: 2rem; }
.aliados .title {
  font-family: "Archivo", sans-serif;
  color: #BC0D69;
  font-size: 2.5rem;
  text-align: center; }
.aliados .aliados-container {
  max-width: 1300px;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center; }
.aliados .aliados-container .aliado-img {
  display: flex;
  align-items: center; }
.aliados .aliados-container .img-ue {
  max-width: 80%; }

.ui.dimmer {
  z-index: 10000; }

.ui.modal {
  border-radius: 30px;
  max-width: 700px; }
.ui.modal .card-modal-head img {
  border-radius: 30px;
  width: 100%;
  max-height: 300px; }
.ui.modal .card-modal-body {
  padding: 4rem; }
.ui.modal .card-modal-body .play {
  background-color: #BC0D69;
  border-radius: 50%;
  padding: .5rem;
  width: max-content;
  margin: 1rem 0;
  cursor: pointer; }
.ui.modal .card-modal-body .play img {
  width: 30px; }
.ui.modal .card-modal-body .card-modal-date {
  font-size: 1.5rem;
  color: #580E33;
  font-family: "Raleway", sans-serif; }
.ui.modal .card-modal-body .card-modal-title {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  color: #BC0D69; }
.ui.modal .card-modal-body .card-modal-description {
  font-size: 1.5rem;
  color: #706f6e;
  font-family: "Raleway", sans-serif; }
.ui.modal .card-modal-body .out-btn {
  margin: 1rem 0;
  display: grid;
  justify-items: end; }
.ui.modal .card-modal-body .out-btn img {
  width: 40px; }

@media screen and (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    padding-top: 70px; }
  .home .home-text {
    padding: 0; }
  .home .home-text .text {
    font-size: 2rem; }
  .home .home-text .text .text-2 {
    font-size: 2.5rem; }
  .home .home-img {
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    height: 420px; }
  .home .home-img .circle {
    height: 400px;
    width: 400px;
    transform: translateX(0%); }
  .home .home-img .circle-text {
    transform: translate(78%, 10%); }
  .home .home-img .circle-text p {
    font-size: 1.5rem;
    max-width: 200px; }
  .home .home-img .circle-text p .number {
    font-size: 4rem; }
  .home .home-img .circle-text p .number::before {
    left: -26%;
    bottom: 5%;
    width: 80%;
    border-bottom: 2px solid white; }
  .home .home-img .circle-text p .calidad {
    font-size: 1.3rem; }
  .home .home-img .circle-text .btn-more div {
    margin-top: 0 !important;
    padding: 1rem !important;
    line-height: 1rem !important; }
  .home .home-img img.image {
    height: 400px;
    transform: translateX(-10%); }

  .conciliacion {
    padding-top: 0; }
  .conciliacion .content-container {
    grid-template-columns: 1fr;
    padding: 2rem; }
  .conciliacion .content-container .conciliacion-text {
    padding: 0; }
  .conciliacion .content-container .conciliacion-text .memoria {
    font-size: 1.3rem; }
  .conciliacion .content-container .conciliacion-text .title {
    font-size: 2rem; }
  .conciliacion .content-container .conciliacion-text .text {
    display: none; }
  .conciliacion .content-container .conciliacion-text .btn-more {
    padding: 1rem;
    margin-top: 1rem; }
  .conciliacion .content-container .conciliacion-img img {
    display: none;
    transform: translateX(0%);
    height: auto;
    width: 100%; }

  .fundador {
    grid-template-columns: 1fr; }
  .fundador .only-small-text {
    display: block; }
  .fundador .only-small-text h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #BC0D69;
    font-family: "Raleway", sans-serif;
    font-weight: bold; }
  .fundador .only-small-text p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #181817;
    margin: 0;
    font-size: 2rem;
    font-weight: bold; }
  .fundador .img-container .img-text, .fundador .img-container .title {
    display: none; }
  .fundador .img-container img {
    width: 100%;
    height: auto;
    transform: translateX(-25%); }
  .fundador .text-container .btn-more {
    top: 0;
    bottom: auto;
    transform: translateY(350%);
    font-size: 1rem;
    padding: 1rem;
    line-height: 1rem; }
  .fundador .text-container .btn-more span {
    font-size: 1.5rem; }

  .noticias-container .noticias {
    grid-template-columns: 1fr;
    padding: 2rem 2rem 8rem 2rem; }
  .noticias-container .noticias .notice-container {
    padding: 1rem;
    max-width: 400px;
    justify-self: center; }
  .noticias-container .noticias .notice-container .notice-title {
    font-size: 1.5rem;
    padding: 0; }
  .noticias-container .show-more-btn {
    font-size: 1rem;
    padding: 1rem;
    transform: translateY(-40%); }

  .mas-acciones h1 {
    font-size: 1.5rem;
    transform: none; }
  .mas-acciones .acciones-container {
    grid-template-columns: 1fr;
    padding: 2rem 0 8rem 0; }
  .mas-acciones .acciones-container .accion-container {
    padding: 1rem;
    max-width: 400px;
    justify-self: center; }
  .mas-acciones .acciones-container .accion-container .acciones-title {
    font-size: 1.5rem;
    padding: 0; }

  .aliados {
    padding: 2rem 0; }
  .aliados .title {
    margin: 0;
    font-size: 1.5rem; }
  .aliados .aliados-container {
    margin: 0;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0; } }
@media screen and (max-width: 500px) {
  .ui.modal .card-modal-head img {
    border-radius: 30px;
    width: 100%;
    max-height: 300px; }
  .ui.modal .card-modal-body {
    padding: 2rem; }
  .ui.modal .card-modal-body .card-modal-date {
    font-size: 1.3rem; }
  .ui.modal .card-modal-body .card-modal-title {
    font-size: 1.3rem; }
  .ui.modal .card-modal-body .card-modal-description {
    font-size: 1.3rem; } }
@media screen and (max-width: 320px) {
  .home .home-img .circle-text {
    transform: translate(62%, 10%); }
  .home .home-img .circle-text p {
    font-size: 1.5rem;
    max-width: 200px; }
  .home .home-img .circle-text p .number {
    font-size: 4rem; }
  .home .home-img .circle-text p .number::before {
    left: -26%;
    bottom: 5%;
    width: 80%;
    border-bottom: 2px solid white; }
  .home .home-img .circle-text p .calidad {
    font-size: 1.3rem; }
  .home .home-img .circle-text .btn-more div {
    margin-top: 0 !important;
    padding: 1rem !important;
    line-height: 1rem !important; }
  .home .home-img img.image {
    height: 400px;
    transform: translateX(-30%); } }

/*# sourceMappingURL=global.css.map */
